Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust, @maria-Petrova, @emmwalsh, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @samir-nasibli @icfaust
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser

# Docs
*.md                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
doc/                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
requirements-doc.txt          @emmwalsh @Alexsandruss

# DPC++
onedal/                       @Alexsandruss @samir-nasibli @icfaust
sklearnex/                    @Alexsandruss @samir-nasibli @icfaust

# Examples
examples/                     @maria-Petrova @Alexsandruss @samir-nasibli @napetrov

# Dependencies
setup.py                      @napetrov @Alexsandruss @samir-nasibli @icfaust
requirements*                 @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
dependencies-dev              @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
conda-recipe/                 @napetrov @Alexsandruss

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel

# Forests
*ensemble*                    @ahuber21 @icfaust

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli @icfaust

# Distributed
*spmd*                        @samir-nasibli @ethanglaser

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli @icfaust

# Core
src/                          @Alexsandruss @samir-nasibli @icfaust
generator/                    @Alexsandruss @samir-nasibli @icfaust

increase timeout of gradient_boosted_classification to 240
  tests/test_daal4py_examples.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fix incorrect file name checking
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

update; examples added
  doc/sources/array_api.rst
  examples/sklearnex/dbscan_array_api.py
  tests/run_examples.py
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

create viable pathing
  .coveragerc
Owners: none

corrections
  doc/sources/array_api.rst
  examples/sklearnex/dbscan_array_api.py
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

minor update for Support for Array API-compatible inputs
  doc/sources/array_api.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

add first gpu coverage notes
  .coveragerc
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

TEST: increase timeout for gradient_boosted_classification (#2118)
  tests/test_daal4py_examples.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

test coverage removal for gpu
  .coveragerc
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

added whitespace
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

TEST: increase threshold for memory usage on tests (#2108)
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update examples/sklearnex/dbscan_array_api.py
  examples/sklearnex/dbscan_array_api.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli, @napetrov

english corrections
  doc/sources/array_api.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Add note about VS versions
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Change variable in run_test.bat
  conda-recipe/bld.bat
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss

Update doc/sources/algorithms.rst
  doc/sources/algorithms.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

usa same message for all cases
  doc/sources/algorithms.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

specify version in which feature was introduced
  sklearnex/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

remove outdated tests from deselected_test.yaml
  deselected_tests.yaml
Owners: none

Add recipe versioning comment
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss

Reorder MPI test command
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

remove json report from non-nightly job
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

Enhanced patch message for data transfer
  sklearnex/_device_offload.py
  sklearnex/_utils.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

english correction
  doc/sources/array_api.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

removed debug code
  sklearnex/_utils.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

return back accidently removed primitive
  sklearnex/_utils.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

improve comment on hyperparameters __getattr__
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Remove info about 2025.1 changes from BS and IncBS docstrings
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

simplify hyperparameters retrieval
  onedal/ensemble/forest.py
Owners: @ahuber21, @icfaust

Revert adding of daal_require_version_wrapper
  daal4py/sklearn/_utils.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

clean up imports
  daal4py/sklearn/_utils.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

clean up unused type
  onedal/ensemble/forest.py
Owners: @ahuber21, @icfaust

Remove extra dpcpp installation in CI
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser
