Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

fixing test_common issure for sklearn1.0
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

adding one more
  deselected_tests.yaml
Owners: none

formatting
  sklearnex/preview/ensemble/_forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove raised error
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black format
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

isort corrections in CI
  onedal/spmd/cluster/__init__.py
  sklearnex/dispatcher.py
  sklearnex/preview/ensemble/_forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: make lint CI step fail on isort errors
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

fixing base_estimator issue
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: make lint CI step fail on isort errors (#1510)
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Testing: python 3.8 test sklearnex deselections (#1503)
  deselected_tests.yaml
Owners: none

Testing: python 3.8 test sklearnex deselections (#1503)
  deselected_tests.yaml
Owners: none

chore: apply isort after fixing CI step
  onedal/spmd/cluster/__init__.py
  sklearnex/dispatcher.py
  sklearnex/preview/ensemble/_forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

FIX: additional linreg GPU threshold upgrade (#1501)
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

FIX: additional linreg GPU threshold upgrade (#1501)
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

chore: apply isort after fixing CI step (#1515)
  onedal/spmd/cluster/__init__.py
  sklearnex/dispatcher.py
  sklearnex/preview/ensemble/_forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

check if isort CI triggers
  setup.py
Owners: @Alexsandruss

correct test case
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

centralize _onedal_predict
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove test_common from select_sklearn_tests
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

super call was a bad idea
  .ci/scripts/select_sklearn_tests.py
  sklearnex/preview/ensemble/_forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

error correction
  .ci/scripts/select_sklearn_tests.py
  sklearnex/preview/ensemble/_forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

fix tests/test_common.py::test_estimators[KMeans()-check_estimators_dtypes]
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

moving workaround futher
  tests/run_examples.py
Owners: none

set to minor version bound instead of patch
  tests/run_examples.py
Owners: none

fixing lint
  tests/run_examples.py
Owners: none

moving example skip workaround further (#1522)
  tests/run_examples.py
Owners: none

fix tests/test_common.py::test_estimators[KMeans()-check_estimators_dtypes] (#1521)
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

adding 3.12 in to matrix
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

move files around
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove vestiges
  sklearnex/ensemble/__init__.py
  sklearnex/ensemble/forest.py
  sklearnex/preview/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

change file permission
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

remove errant 'preview' in test scripts
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

isort corrections
  sklearnex/dispatcher.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

change imports
  sklearnex/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correct monkey_patch tests
  sklearnex/tests/test_monkeypatch.py
Owners: @Alexsandruss, @samir-nasibli

fix warning from double check_X_y
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove warning
  sklearnex/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

np.squeeze -> np.ravel due to unit test fail
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita
