Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

pep8
  daal4py/mb/ModelBuilders.py
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

fix
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

KMeans fix (#1351)
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix
  daal4py/mb/ModelBuilders.py
Owners: none

MAINT: refactor device offloading
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

move GBTDAALBaseModel to mb namespace
  daal4py/__init__.py
  daal4py/mb/ModelBuilders.py
  daal4py/mb/__init__.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

pep8
  daal4py/mb/ModelBuilders.py
Owners: none

all failures deselected to try for green CI
  deselected_tests.yaml
Owners: none

try to fix circ import problem
  daal4py/__init__.py
  daal4py/mb/__init__.py
Owners: none

cleanup of some deselections
  deselected_tests.yaml
Owners: none

temp printing stuff
  tests/run_examples.py
Owners: none

try to fix cyclic import
  daal4py/__init__.py
  daal4py/mb/__init__.py
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

return GBTDAALBaseModel to compile-file
  daal4py/mb/ModelBuilders.py
  daal4py/mb/__init__.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

remove mb import from __init__
  daal4py/__init__.py
Owners: none

fix examples
  examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_xgboost.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix d4p examples
  examples/daal4py/model_builders_catboost.py
  examples/daal4py/model_builders_lightgbm.py
  examples/daal4py/model_builders_xgboost.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

update run_examples pt2
  tests/run_examples.py
Owners: none

next try
  daal4py/__init__.py
  daal4py/mb/ModelBuilders.py
  examples/daal4py/model_builders_catboost.py
  examples/daal4py/model_builders_lightgbm.py
  examples/daal4py/model_builders_xgboost.py
  examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_xgboost.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli, @KulikovNikita

replace imports
  daal4py/mb/ModelBuilders.py
Owners: none

again
  daal4py/mb/ModelBuilders.py
Owners: none

next try
  daal4py/__init__.py
  daal4py/mb/__init__.py
Owners: none

MAINT: removed undisposible, unnecsary onedal module helpers
  onedal/basic_statistics/basic_statistics.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/validation.py
  onedal/linear_model/linear_model.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

reverted some changes
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

removed outdated import
  onedal/basic_statistics/basic_statistics.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

some minor changes
  daal4py/__init__.py
  daal4py/mb/__init__.py
  daal4py/mb/model_builders.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  examples/daal4py/model_builders_catboost.py
  examples/daal4py/model_builders_lightgbm.py
  examples/daal4py/model_builders_xgboost.py
  examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_xgboost.py
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @KulikovNikita

pep8
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

change
  daal4py/__init__.py
Owners: none

fix installation
  setup.py
Owners: @Alexsandruss

move GBTDAALBaseModel to mb namespace
  daal4py/__init__.py
  daal4py/mb/__init__.py
  daal4py/mb/model_builders.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

Substitute best_ntree_limit attribute with best_iteration
  src/gbt_convertors.pyx
Owners: @Alexsandruss

minor fix
  onedal/basic_statistics/basic_statistics.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

more flexible pandas/scipy compatibility
  .ci/scripts/get_compatible_scipy_version.py
Owners: @napetrov, @Alexsandruss

more flexible pandas/scipy compatibility (#1355)
  .ci/scripts/get_compatible_scipy_version.py
Owners: @napetrov, @Alexsandruss

ENH: using dpnp/dpctl instead of numpy in onedal4py
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/tests/test_basic_statistics.py
  onedal/cluster/kmeans_init.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/data_conversion_dpctl.cpp
  onedal/datatypes/validation.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix inference for xgboost fitted with early-stopping (#1350)
  src/gbt_convertors.pyx
Owners: @Alexsandruss

remove model builder examples for sklearn
  examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_xgboost.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add test
  examples/daal4py/model_builders_xgboost_early_stop_batch.py
  tests/run_examples.py
  tests/test_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Update src/gbt_convertors.pyx
  src/gbt_convertors.pyx
Owners: @Alexsandruss

determine fptype from data type in GBTDAALModel.predict()
  daal4py/mb/model_builders.py
Owners: none

pep8
  daal4py/mb/model_builders.py
Owners: none
