Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

add version check
  src/oneapi/oneapi_backend.cpp
Owners: @Alexsandruss

change ONEDAL_VERSION to INTEL_DAAL_VERSION
  src/oneapi/oneapi_backend.cpp
Owners: @Alexsandruss

sycl_context deprecation workaround (#1423)
  conda-recipe/meta.yaml
  src/oneapi/oneapi.pyx
  src/oneapi/oneapi_backend.cpp
  src/oneapi/oneapi_backend.h
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/decision_forest_classification.py
  tests/daal4py/sycl/decision_forest_classification_hist.py
  tests/daal4py/sycl/decision_forest_regression.py
  tests/daal4py/sycl/decision_forest_regression_hist.py
  tests/daal4py/sycl/gradient_boosted_regression.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/sklearn_sycl.py
  tests/daal4py/sycl/svm.py
  tests/run_examples.py
Owners: @Alexsandruss

sklearn dependency on python
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

sklearn dependency on python (#1481)
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

fixing setup deps and notes
  setup.py
  setup_sklearnex.py
Owners: @Alexsandruss

Updating readme
  README.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Updated install
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

removal of cpu sycl_context from tests
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/svm.py
Owners: none

dpctl workaround
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

disable sycl_cpu cals
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/svm.py
Owners: none

adding dpctl include to dpctl_available logic
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

minor revert
  scripts/build_backend.py
Owners: none

tests already covered
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/svm.py
Owners: none

disable sycl_cpu cals
  tests/daal4py/sycl/kmeans.py
Owners: none

temporary skip of problematic tests
  tests/run_examples.py
Owners: none

disable sycl_cpu cals
  tests/daal4py/sycl/sklearn_sycl.py
Owners: none

Disable sycl cpu daal4py calls in tests (#1486)
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/sklearn_sycl.py
  tests/daal4py/sycl/svm.py
Owners: none

try/catch for importlib dpctl
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

Adding timeout to examples execution
  tests/run_examples.py
Owners: none

reverting skipped tests
  tests/run_examples.py
Owners: none

Adding timeout to examples execution
  tests/run_examples.py
Owners: none

Adding timeout to examples execution - 1 minute
  tests/run_examples.py
Owners: none

Fixing lint
  tests/run_examples.py
Owners: none

black formatting applied
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

EXPERIMENTAL fix cpu offloading
  onedal/common/_policy.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Updating meta.yml
  tests/run_examples.py
Owners: none

TEMPORARY windows build debug statements
  setup.py
Owners: @Alexsandruss

follow-up to previous
  setup.py
Owners: @Alexsandruss

Update README.md
  README.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

build_distribute in build_backend to match setup
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

Cleaning up readme and setup info (#1483)
  INSTALL.md
  README.md
  setup.py
  setup_sklearnex.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

Update README.md (#1492)
  README.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Adding dpctl get_includes without import (#1490)
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

2024.0 updates to deselected tests
  deselected_tests.yaml
Owners: none

Update deselected_tests.yaml
  deselected_tests.yaml
Owners: none

2024.0 updates to deselected tests (#1493)
  deselected_tests.yaml
Owners: none

Adding timeout to examples execution (#1487)
  tests/run_examples.py
Owners: none
