Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

change line indent
  onedal/ensemble/forest.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update github template
  .github/Pull_Request_template.md
  CONTRIBUTING.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

add test coverage change
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
Owners: @Alexsandruss, @samir-nasibli

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/ensemble/forest.py
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

change tests
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

test formatting
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

correct test errors
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

remove unneccesary checks breaking lazy evaluation
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

readded check_if_fitted
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

temporary adding verbosity for sklearn tests run; will revert this commit
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

daal_check_version and tests correction
  onedal/ensemble/forest.cpp
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update dpcpp to 2023.2.1
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

Update dpcpp to 2023.2.1 (#1389)
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

chore: migrate linting from GHA to Azure
  .ci/pipeline/ci.yml
  .github/workflows/lint.yml
  pyproject.toml
Owners: @napetrov, @Alexsandruss

chore: migrate linting from GHA to Azure (#1391)
  .ci/pipeline/ci.yml
  .github/workflows/lint.yml
  pyproject.toml
Owners: @napetrov, @Alexsandruss

Revert "temporary adding verbosity for sklearn tests run; will revert this commit"
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

TEST: disabling RF regressor GPU test cases
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

ENH: add ids for the onedal4py test cases sycl_queue param
  onedal/tests/utils/_device_selection.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Force conda to update base env from defaults channel
  .ci/pipeline/release.yml
Owners: @napetrov, @Alexsandruss

Remove Python 3.7 from release jobs
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

ENH: add ids for the onedal4py test cases sycl_queue param (#1394)
  onedal/tests/utils/_device_selection.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add intel conda channel to release jobs
  .ci/pipeline/release.yml
Owners: @napetrov, @Alexsandruss

minor update for get_dataframes_and_queues
  onedal/tests/utils/_dataframes_support.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

adding assert gpu flag to run_examples
  tests/run_examples.py
Owners: none

ENH: DPNP integration into onedal4py
  onedal/_device_offload.py
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/tests/test_basic_statistics.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/tests/utils/_dataframes_support.py
  onedal/utils/_array_api.py
  onedal/utils/validation.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Release jobs update (#1395)
  .ci/pipeline/release.yml
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

hyphen instead of underscore for CLI arg
  tests/run_examples.py
Owners: none

ENH: DBSCAN integration via oneapi iface
  onedal/cluster/dbscan.cpp
  onedal/cluster/dbscan.py
  onedal/cluster/tests/test_dbscan.py
  onedal/dal.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix CSR table data leak in onedal4py
  onedal/datatypes/data_conversion.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix CSR table data leak in daal4py
  src/daal4py.cpp
Owners: @Alexsandruss

CSR table data leak fix (#1398)
  onedal/datatypes/data_conversion.cpp
  src/daal4py.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor update for _convert_to_dataframe func logic
  onedal/tests/utils/_dataframes_support.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor update for _convert_to_dataframe func logic
  onedal/tests/utils/_dataframes_support.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Implemented proper work with multiple threads
  sklearnex/dispatcher.py
  sklearnex/utils/parallel.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add support for older sklearn versions
  sklearnex/dispatcher.py
  sklearnex/utils/parallel.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Change condition in test_memory_usage to avoid test failure
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli

Remove unnecessary queue propagation via config in BaseSVC._fit_proba
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Style fixes
  sklearnex/utils/parallel.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita
