Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

fix RandomForestClassifer oob_prediction passing
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor fixes
  sklearnex/_utils.py
  sklearnex/neighbors/lof.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove problematic test from deselected
  deselected_tests.yaml
Owners: none

ENH: `sklearnex` verbose mode messenger (#1424)
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/cluster/dbscan.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/lof.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

change nf instead of ns
  examples/sklearnex/random_forest_classifier_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

more accurate example
  examples/sklearnex/random_forest_classifier_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove ET dependencies
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update to v1.4
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove unfinshed code
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

movement of RF preview algos
  sklearnex/preview/ensemble/__init__.py
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

finished centralization
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

make initial requested changes
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

move filename to sklearn standard
  _forest.py
Owners: none

fix __init__
  sklearnex/preview/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Rename _forest.py to sklearnex/preview/ensemble/_forest.py
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

replacing todo with internal ticket
  examples/sklearnex/random_forest_classifier_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

standardize around _onedal_estimator not _onedal_model
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black formatting
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

daal_check_version error
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

avoid weirdness associated with lazy evaluation and BaseEnsemble
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Testing: RF spmd example revision for green CI (#1437)
  examples/sklearnex/random_forest_classifier_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

address balanced subsample issue for v1.3
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Adding MB limitations to documentation
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

adding from_python arg, keeping sycl_context
  conda-recipe/meta.yaml
  daal4py/sklearn/_device_offload.py
  src/oneapi/oneapi.pyx
  src/oneapi/oneapi_backend.cpp
  src/oneapi/oneapi_backend.h
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli

remove duplicate stream
  tests/daal4py/stream.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/low_order_moms_streaming.py
Owners: none

add read_csv to streaming as well
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/low_order_moms_streaming.py
Owners: none

removing default arg from context
  src/oneapi/oneapi.pyx
  src/oneapi/oneapi_backend.h
Owners: @Alexsandruss

init DPNP integration into DBSCAN
  onedal/cluster/dbscan.py
  onedal/cluster/tests/test_dbscan.py
  onedal/utils/_array_api.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

testing changes
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

the first one
  examples/daal4py/log_reg_model_builder.py
  tests/run_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

black
  examples/daal4py/log_reg_model_builder.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Adding MB limitations to documentation
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

error correction in daal4py
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

fix same error for Regressor
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

pullback on deselected_tests.yaml for testing
  deselected_tests.yaml
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

using ABCMeta for inheritance purposes
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black formatting
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

spelling mistake
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fixed configuration for renovate grouping
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

Fixed configuration for renovate grouping (#1447)
  .github/renovate.json
Owners: @napetrov, @Alexsandruss
