Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Update requirements-test-optional.txt
  requirements-test-optional.txt
Owners: @napetrov, @Alexsandruss

Update log_reg_model_builder.py
  examples/daal4py/log_reg_model_builder.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

revert 52dbe95e86dedd19d3c581a09acb61e2e5ab674f
  examples/daal4py/log_reg_model_builder.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Fixing the log_reg_model_builder_example (#1446)
  examples/daal4py/log_reg_model_builder.py
  tests/run_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Add test for config_context in parallel
  sklearnex/tests/test_parallel.py
Owners: @Alexsandruss, @samir-nasibli

file formatting
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/decision_forest_classification.py
  tests/daal4py/sycl/decision_forest_classification_hist.py
  tests/daal4py/sycl/decision_forest_regression.py
  tests/daal4py/sycl/decision_forest_regression_hist.py
  tests/daal4py/sycl/gradient_boosted_regression.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/svm.py
Owners: none

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

Apply suggestions from code review
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/daal4py/model-builders.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update tree_visitor.h
  src/tree_visitor.h
Owners: @Alexsandruss

Update tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Adding MB limitations to documentation (#1445)
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

hysteresis correction in n_estimators for lazy evaluation
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

Reducing MacOS validation scope in public CI
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

address codefactor except
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/gradient_boosted_regression.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
Owners: none

additional address codefactor
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/svm.py
Owners: none

Reducing MacOS validation scope in public CI (#1466)
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

Update requirements-test-optional.txt
  requirements-test-optional.txt
Owners: @napetrov, @Alexsandruss

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss

Explicitly disallow fallback to host in test
  sklearnex/tests/test_parallel.py
Owners: @Alexsandruss, @samir-nasibli

Debug print for dpctl in test running
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

Change parallel backend for test
  sklearnex/tests/test_parallel.py
Owners: @Alexsandruss, @samir-nasibli

Revert "Change parallel backend for test"
  sklearnex/tests/test_parallel.py
Owners: @Alexsandruss, @samir-nasibli

Separate monkeypatch tests
  conda-recipe/run_test.sh
Owners: @Alexsandruss

initial
  examples/daal4py/model_builders_lightgbm.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

black
  examples/daal4py/model_builders_lightgbm.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

initial
  src/gbt_convertors.pyx
Owners: @Alexsandruss

Update lightGBM model builder example for LGBM v4 (#1472)
  examples/daal4py/model_builders_lightgbm.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

initial (#1473)
  src/gbt_convertors.pyx
Owners: @Alexsandruss

Update requirements-test-optional.txt
  requirements-test-optional.txt
Owners: @napetrov, @Alexsandruss

[bug] correct decision tree threshold default values for leaf nodes in daal4py and onedal (#1462)
  onedal/primitives/tree_visitor.cpp
  src/tree_visitor.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

int(ceil -> ceil
  daal4py/sklearn/ensemble/_forest.py
  deselected_tests.yaml
Owners: @Alexsandruss, @samir-nasibli

Implemented proper work with multiple threads (#1361)
  .ci/scripts/run_sklearn_tests.sh
  conda-recipe/run_test.sh
  deselected_tests.yaml
  sklearnex/dispatcher.py
  sklearnex/svm/_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_parallel.py
  sklearnex/utils/parallel.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

readd deselected tests
  deselected_tests.yaml
Owners: none

Delete commented out tests from deselected_tests.yaml
  deselected_tests.yaml
Owners: none

spelling error
  deselected_tests.yaml
Owners: none

Deselect test for PVC (private nightly)
  deselected_tests.yaml
Owners: none

Update spmd with new naming schema
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
