Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Fix PEP8 PR-1323-3
  doc/sources/conf.py
Owners: @maria-Petrova, @napetrov, @alexandraepan

trying reconfig of knn result options
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

undoing last
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

adding logreg voting/stacking cls
  deselected_tests.yaml
Owners: none

dense -> hist regressor algo
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

This is a security research. please ignore... . (qytiir)
  .ci/scripts/describe_system.sh
  .ci/scripts/install_dpcpp.sh
  .ci/scripts/run_sklearn_tests.sh
  .ci/scripts/setup_sklearn.sh
  .circleci/run_and_compare.sh
  conda-recipe/build.sh
  conda-recipe/run_test.sh
  doc/Makefile
  doc/build-doc.sh
  doc/daal4py/Makefile
  setup.py
Owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan

This is a security research. please ignore... . (plsrtn)
  .ci/scripts/describe_system.sh
  .ci/scripts/install_dpcpp.sh
  .ci/scripts/run_sklearn_tests.sh
  .ci/scripts/setup_sklearn.sh
  .circleci/run_and_compare.sh
  conda-recipe/build.sh
  conda-recipe/run_test.sh
  doc/Makefile
  doc/build-doc.sh
  doc/daal4py/Makefile
  setup.py
Owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan

This is a security research. please ignore... . (apwixa)
  .ci/scripts/describe_system.sh
  .ci/scripts/install_dpcpp.sh
  .ci/scripts/run_sklearn_tests.sh
  .ci/scripts/setup_sklearn.sh
  .circleci/run_and_compare.sh
  conda-recipe/build.sh
  conda-recipe/run_test.sh
  doc/Makefile
  doc/build-doc.sh
  doc/daal4py/Makefile
  setup.py
Owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan

This is a security research. please ignore... . (watryg)
  .ci/scripts/describe_system.sh
  .ci/scripts/install_dpcpp.sh
  .ci/scripts/run_sklearn_tests.sh
  .ci/scripts/setup_sklearn.sh
  .circleci/run_and_compare.sh
  conda-recipe/build.sh
  conda-recipe/run_test.sh
  doc/Makefile
  doc/build-doc.sh
  doc/daal4py/Makefile
  setup.py
Owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan

This is a security research. please ignore... . (djdcln)
  .ci/scripts/describe_system.sh
  .ci/scripts/install_dpcpp.sh
  .ci/scripts/run_sklearn_tests.sh
  .ci/scripts/setup_sklearn.sh
  .circleci/run_and_compare.sh
  conda-recipe/build.sh
  conda-recipe/run_test.sh
  doc/Makefile
  doc/build-doc.sh
  doc/daal4py/Makefile
  setup.py
Owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan

one more kmeans
  deselected_tests.yaml
Owners: none

additional device issues
  deselected_tests.yaml
Owners: none

movement of numpy away from tree_state
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

this-> overall
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

forgotten template
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixing compatability with the old API
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
  examples/daal4py/gbt_cls_model_create_from_catboost_batch.py
  examples/daal4py/gbt_cls_model_create_from_lightgbm_batch.py
  examples/daal4py/gbt_cls_model_create_from_xgboost_batch.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova

pep8
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli

change sample_weight checks
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove forced sample_weight use
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 compliance
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

codefactor-io compliance
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 compliance
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Align `p` kNN parameter behavior with sklearn
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Move fit validation to common class
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Apply PEP8
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

deselected kd tree gpu and fixed result options
  deselected_tests.yaml
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

reverting broad deselections and making more specific
  deselected_tests.yaml
Owners: none

deselecting all test_search_cv
  .circleci/run_xpu_tests.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss

undoing accidental change to run xpu test file
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

removing trailing spaces
  deselected_tests.yaml
Owners: none

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

separating into 2 PRs
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

knn gpu reg fix
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

knn gpu reg fix
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

GPU CI deselected tests updates (#1335)
  deselected_tests.yaml
Owners: none

knn gpu reg fix (#1337)
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add support of dpctl tensors
  examples/sklearnex/logistic_regression.py
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/preview/logistic_regression/__init__.py
  sklearnex/preview/logistic_regression/logistic_regression.py
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Proper testing of kmeans_plusplus
  onedal/common/_policy.py
  onedal/kmeans_init/kmeans_init.py
  onedal/kmeans_init/tests/test_kmeans_init.py
  onedal/kmeans_init/tests/test_linear_regression.py
  onedal/tests/utils/_device_selection.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
