Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

PEP8 alignment
  examples/daal4py/sycl/gradient_boosted_regression_batch.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

feat: Provide averages binning to improve RF accuracy for some datasets (#1301)
  .ci/pipeline/ci.yml
  .ci/pipeline/docs.yml
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  pyproject.toml
  setup.cfg
Owners: @napetrov, @Alexsandruss, @samir-nasibli

Apply suggestions from code review
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Adressing comments
  doc/daal4py/contents.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Documentation update - daal4py, model builders (#1314)
  doc/daal4py/contents.rst
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
  examples/daal4py/df_cls_dense_batch_model_builder.py
  examples/daal4py/df_cls_traversed_model_builder.py
  examples/daal4py/gbt_cls_traversed_model_builder.py
  examples/daal4py/gbt_reg_traversed_model_builder.py
  examples/daal4py/lin_reg_model_builder.py
  examples/daal4py/svm_multi_class_model_builder.py
  examples/daal4py/svm_two_class_model_builder.py
  setup.py
  setup_sklearnex.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss, @samir-nasibli

Add sklearn 1.3 constraints to roc_auc_score and train_test_split; Rename patched functions
  daal4py/sklearn/metrics/__init__.py
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/__init__.py
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/model_selection/tests/test_split.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/utils/__init__.py
  daal4py/sklearn/utils/validation.py
  onedal/datatypes/validation.py
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/ranking.py
  sklearnex/model_selection/split.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/utils/__init__.py
  sklearnex/utils/validation.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Apply PEP8
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/utils/validation.py
Owners: @Alexsandruss, @samir-nasibli

Fix for max_samples in forest
  daal4py/sklearn/ensemble/_forest.py
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

DEP: deprecate `dpctx` using in examples (#1315)
  examples/daal4py/sycl/bf_knn_classification_batch.py
  examples/daal4py/sycl/covariance_batch.py
  examples/daal4py/sycl/covariance_streaming.py
  examples/daal4py/sycl/dbscan_batch.py
  examples/daal4py/sycl/decision_forest_classification_batch.py
  examples/daal4py/sycl/decision_forest_classification_hist_batch.py
  examples/daal4py/sycl/decision_forest_regression_batch.py
  examples/daal4py/sycl/decision_forest_regression_hist_batch.py
  examples/daal4py/sycl/gradient_boosted_regression_batch.py
  examples/daal4py/sycl/kmeans_batch.py
  examples/daal4py/sycl/linear_regression_batch.py
  examples/daal4py/sycl/log_reg_binary_dense_batch.py
  examples/daal4py/sycl/log_reg_dense_batch.py
  examples/daal4py/sycl/low_order_moms_dense_batch.py
  examples/daal4py/sycl/low_order_moms_streaming.py
  examples/daal4py/sycl/pca_batch.py
  examples/daal4py/sycl/pca_transform_batch.py
  examples/daal4py/sycl/svm_batch.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Add constraints and rename patched sklearn functions (#1318)
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/metrics/__init__.py
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/__init__.py
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/model_selection/tests/test_split.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/utils/__init__.py
  daal4py/sklearn/utils/validation.py
  onedal/datatypes/validation.py
  onedal/ensemble/forest.py
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/ranking.py
  sklearnex/model_selection/split.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/utils/__init__.py
  sklearnex/utils/validation.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

dpctl has_gpu_devices function call (#1307)
  examples/daal4py/sycl/sklearn_sycl.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

doc: Add docs for RF binning
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

doc: Add docs for RF binning (#1319)
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

initial
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss

linting
  src/gbt_model_builder.pyx
Owners: @Alexsandruss

deselecting all forest oobs
  deselected_tests.yaml
Owners: none

test_search_cv updates
  deselected_tests.yaml
Owners: none

Renovate update on docs grouping
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

align doc format
  doc/sources/acceleration.rst
  doc/sources/conf.py
  doc/sources/gsg.rst
  doc/sources/index.rst
  doc/sources/license.rst
  doc/sources/releases.rst
  doc/sources/samples.rst
  doc/sources/what-is-patching.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Renovate update on docs grouping (#1322)
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

Updating config to match service expecations
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

make API sklearn-like
  daal4py/sklearn/ensemble/GBTDAAL.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

Update IDZ links
  INSTALL.md
  README.md
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update IDZ URLs
  INSTALL.md
  README.md
  doc/sources/installation.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update obsolete URLs
  daal4py/sklearn/tree/decision_tree.py
Owners: @Alexsandruss, @samir-nasibli

doc: IDZ links update (#1325)
  INSTALL.md
  README.md
  daal4py/sklearn/tree/decision_tree.py
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss, @samir-nasibli

Fix PR-1323-1
  doc/sources/index.rst
  doc/sources/license.rst
  doc/sources/releases.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

fixes for classification cases
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

Updating config to match service expecations (#1324)
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

bug fixes
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli

pep8
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

doc: IDZ links update (#1325)
  INSTALL.md
  README.md
  daal4py/sklearn/tree/decision_tree.py
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss, @samir-nasibli

Fix Doc build
  daal4py/sklearn/tree/decision_tree.py
Owners: @Alexsandruss, @samir-nasibli

doc: IDZ URLs update (#1325) (#1327)
  INSTALL.md
  README.md
  daal4py/sklearn/tree/decision_tree.py
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss, @samir-nasibli

Fix Doc build after URLs update
  daal4py/sklearn/tree/decision_tree.py
Owners: @Alexsandruss, @samir-nasibli

Fix Doc build after URLs update (#1328)
  daal4py/sklearn/tree/decision_tree.py
Owners: @Alexsandruss, @samir-nasibli

initial
  tests/test_estimators.py
Owners: @Alexsandruss, @samir-nasibli

pep8
  tests/test_estimators.py
Owners: @Alexsandruss, @samir-nasibli

Fix PR-1323-2
  doc/sources/conf.py
  doc/sources/index.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

updated deselected tests for kmeans gpu
  deselected_tests.yaml
Owners: none
