Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust, @maria-Petrova, @emmwalsh, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @samir-nasibli @icfaust
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser

# Docs
*.md                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
doc/                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
requirements-doc.txt          @emmwalsh @Alexsandruss

# DPC++
onedal/                       @Alexsandruss @samir-nasibli @icfaust
sklearnex/                    @Alexsandruss @samir-nasibli @icfaust

# Examples
examples/                     @maria-Petrova @Alexsandruss @samir-nasibli @napetrov

# Dependencies
setup.py                      @napetrov @Alexsandruss @samir-nasibli @icfaust
requirements*                 @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
dependencies-dev              @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
conda-recipe/                 @napetrov @Alexsandruss

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel

# Forests
*ensemble*                    @ahuber21 @icfaust

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli @icfaust

# Distributed
*spmd*                        @samir-nasibli @ethanglaser

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli @icfaust

# Core
src/                          @Alexsandruss @samir-nasibli @icfaust
generator/                    @Alexsandruss @samir-nasibli @icfaust

FIX: update functional support fallback logic a little bit
  onedal/_device_offload.py
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

switch coverage to be coveragerc location
  .ci/scripts/run_sklearn_tests.py
  .github/workflows/ci.yml
  sklearnex/basic_statistics/tests/test_basic_statistics.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

missing change
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

fix repeated argument on windows
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss

switch to dict (#2111)
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update test_common.py
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

udpate CI
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

forgotten index switch after merge
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update ci.yml
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

fix comparison for values passed to parameter
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

DOC: Add info about incremental algorithms and BS (#2103)
  doc/sources/algorithms.rst
  doc/sources/conf.py
  doc/sources/index.rst
  doc/sources/non-scikit-algorithms.rst
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Remove daal4py/sklearn from test files
  conda-recipe/meta.yaml
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

Update DPC compiler details for conda-build in INSTALL
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

fix isort
  onedal/basic_statistics/tests/test_basic_statistics.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

formatting
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

avoid adding json-related arguments when not needed
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

rename set_block_size
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

remove block size multiplier from testing
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fix case when 'y' is a list
  sklearnex/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: none

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

test failure in pipelines
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser
