Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

Sort imports
  sklearnex/dispatcher.py
  sklearnex/svm/_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/utils/parallel.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

TEST: disabling RF regressor GPU test cases (#1393)
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

minor fix for setting onedal params
  onedal/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

TEST: added different dataframes testing in `sklearnex` own tests (#1379)
  onedal/tests/utils/_dataframes_support.py
  sklearnex/model_selection/tests/test_model_selection.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/preview/decomposition/tests/test_preview_pca.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
  sklearnex/preview/linear_model/tests/test_preview_linear.py
  sklearnex/svm/tests/test_svm.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

loosening kmeans test threshold
  onedal/cluster/tests/test_kmeans.py
Owners: @Alexsandruss, @samir-nasibli

Add monotonicity constraints for daal4py forest
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

Add monotonicity constraints for onedal forest
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix for preview kmeans `save_attributes`
  sklearnex/preview/cluster/_common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix monotonic_cst check for older sklearn versions
  daal4py/sklearn/ensemble/_forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Change to additional init in forest estimator
  daal4py/sklearn/ensemble/_forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix patching condition for forest
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss

fix: requirements-doc.txt to reduce vulnerabilities (#1404)
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss

OCL setting fix for Release jobs
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

Add echo for set OCL_ICD_FILENAMES
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

Fix os name getting
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

Change echo command
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

Add patching condition for non-finite input in forest
  daal4py/sklearn/ensemble/_forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

ENH: init sklearnex dispatching for DBSCAN
  onedal/cluster/dbscan.py
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

OCL setting fix for Release jobs (#1405)
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

added dbscan into sklearnex dispatcher
  sklearnex/cluster/dbscan.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

loosening kmeans test threshold (#1401)
  onedal/cluster/tests/test_kmeans.py
Owners: @Alexsandruss, @samir-nasibli

Update `daal_check_version` in onedal/ensemble/tests/test_random_forest.py
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

Update `daal_check_version` in sklearnex/preview/ensemble/tests/test_preview_ensemble.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
Owners: @Alexsandruss, @samir-nasibli

Update model-builders.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update daal4py documentation
  doc/daal4py/_templates/layout.html
  doc/daal4py/algorithms.rst
  doc/daal4py/conf.py
  doc/daal4py/contents.rst
  doc/daal4py/data.rst
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
  doc/daal4py/note.rst
  doc/daal4py/scaling.rst
  doc/daal4py/sklearn.rst
  doc/daal4py/streaming.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update model-builders.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/daal4py/model-builders.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/daal4py/model-builders.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/daal4py/model-builders.rst
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Remove limitations and fix syntaxis
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

[doc] Update daal4py (#1407)
  doc/daal4py/_templates/layout.html
  doc/daal4py/algorithms.rst
  doc/daal4py/conf.py
  doc/daal4py/contents.rst
  doc/daal4py/data.rst
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
  doc/daal4py/note.rst
  doc/daal4py/scaling.rst
  doc/daal4py/sklearn.rst
  doc/daal4py/streaming.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Fix Data Analatics Script
  doc/sources/_templates/footer.html
  doc/sources/_templates/layout.html
  doc/sources/conf.py
Owners: @maria-Petrova, @napetrov, @alexandraepan

Fix for the data collection
  .buildinfo
  404.html
  _sources/blogs.rst.txt
  _static/style.css
  acceleration.html
  algorithms.html
  blogs.html
  contribute.html
  deprecation.html
  distributed-mode.html
  genindex.html
  global-patching.html
  guide/acceleration.html
  index.html
  installation.html
  kaggle.html
  kaggle/automl.html
  kaggle/classification.html
  kaggle/regression.html
  license.html
  memory-requirements.html
  oneapi-gpu.html
  quick-start.html
  releases.html
  samples.html
  search.html
  searchindex.js
  support.html
  system-requirements.html
  verbose.html
  what-is-patching.html
Owners: none

Add blank line
  doc/sources/_templates/footer.html
Owners: @maria-Petrova, @napetrov, @alexandraepan

[DOC] Fix Data Analitics Script for GitHub Pages (#1408)
  doc/sources/_templates/footer.html
  doc/sources/_templates/layout.html
  doc/sources/conf.py
Owners: @maria-Petrova, @napetrov, @alexandraepan

Fix for the data collection (#1409)
  .buildinfo
  404.html
  _sources/blogs.rst.txt
  _static/style.css
  acceleration.html
  algorithms.html
  blogs.html
  contribute.html
  deprecation.html
  distributed-mode.html
  genindex.html
  global-patching.html
  guide/acceleration.html
  index.html
  installation.html
  kaggle.html
  kaggle/automl.html
  kaggle/classification.html
  kaggle/regression.html
  license.html
  memory-requirements.html
  oneapi-gpu.html
  quick-start.html
  releases.html
  samples.html
  search.html
  searchindex.js
  support.html
  system-requirements.html
  verbose.html
  what-is-patching.html
Owners: none

Add license to note.rst
  doc/daal4py/note.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update note.rst
  doc/daal4py/note.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

[doc] Add license to note.rst (#1410)
  doc/daal4py/note.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan
