Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @vmeshche, @Pahandrovich, @outoftardis, @vlad-nazarov

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @vmeshche
.github/                      @napetrov @vmeshche
.circleci/                    @Pahandrovich @vmeshche

# Docs
*.md                          @outoftardis
doc/                          @outoftardis

# DPC++
**/oneapi/                    @vlad-nazarov

# Examples 
examples/                     @Pahandrovich @vlad-nazarov

# Dependencies
setup.py                      @Pahandrovich @vmeshche
requirements*                 @Pahandrovich @vmeshche
conda-recipe/                 @Pahandrovich @vmeshche

# Testing
**/test*.py                   @Pahandrovich

# Scikit-learn patching
daal4py/sklearn/              @Pahandrovich @vlad-nazarov

# Core
src/                          @Pahandrovich @vlad-nazarov @vmeshche
generator/                    @Pahandrovich @vlad-nazarov @vmeshche

redevelop system requirements
  doc/sources/system_requirements.rst
Owners: @outoftardis

fix
  doc/sources/system_requirements.rst
Owners: @outoftardis

add sigmoid kernel info
  doc/sources/algorithms.rst
Owners: @outoftardis

Update links to daal4py examples (#829)
  doc/daal4py/algorithms.rst
  doc/daal4py/examples.rst
  doc/daal4py/scaling.rst
  doc/daal4py/streaming.rst
Owners: @outoftardis

Add python 3.9 in release CI (#830)
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @vmeshche

add ridge regression example
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

add ElasticNet example and minor fixes for ridge example
  examples/notebooks/ElasticNet.ipynb
Owners: @Pahandrovich, @vlad-nazarov

text fixes for Ridge and finish ElasticNet
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

add lasso_regression and linear_regression examples
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Text fixes
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

apply comments
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

apply comments
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

instruction set
  doc/sources/system_requirements.rst
Owners: @outoftardis

apply comments
  doc/sources/system_requirements.rst
Owners: @outoftardis

Add onedal ifaces to nightly testing (#827)
  .circleci/config.yml
  .circleci/setup_env.sh
Owners: @Pahandrovich, @vmeshche

Update doc/sources/system_requirements.rst
  doc/sources/system_requirements.rst
Owners: @outoftardis

Update doc/sources/system_requirements.rst
  doc/sources/system_requirements.rst
Owners: @outoftardis

apply comments
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Add HW list in documentation (#785)
  doc/sources/algorithms.rst
  doc/sources/contents.rst
  doc/sources/get_started.rst
  doc/sources/index.rst
  doc/sources/system_requirements.rst
Owners: @outoftardis

add kmeans example
  examples/notebooks/kmeans.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Update README.md
  README.md
Owners: @outoftardis

Address comments
  README.md
Owners: @outoftardis

Save changes to doc structure
  doc/sources/about.rst
  doc/sources/algorithms.rst
  doc/sources/conf.py
  doc/sources/get_started.rst
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/terminology.rst
Owners: @outoftardis

Fix line length
  doc/sources/conf.py
Owners: @outoftardis

pep8 fix
  doc/sources/conf.py
Owners: @outoftardis

[DOC] Update sphinx theme (#825)
  .gitignore
  doc/sources/_static/favicons.png
  doc/sources/_static/oneAPI-rgb-rev-100.png
  doc/sources/conf.py
  requirements-doc.txt
Owners: @outoftardis, @Pahandrovich, @vmeshche

Update sklearn_sycl example (#813)
  examples/daal4py/sycl/sklearn_sycl.py
Owners: @Pahandrovich, @vlad-nazarov

Addressed most comments
  INSTALL.md
  README.md
Owners: @outoftardis

Apply suggestions from code review
  README.md
Owners: @outoftardis

update GPU example
  README.md
Owners: @outoftardis

apply comment int32->64
  onedal/datatypes/numpy_helpers.hpp
Owners: none

fix unsupervised patching, save work
  onedal/neighbors/neighbors.cpp
  onedal/neighbors/neighbors.py
  sklearnex/dispatcher.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

apply comment
  onedal/neighbors/neighbors.py
Owners: none

revert regression changes, codefactor fixes
  onedal/common/_estimator_checks.py
  onedal/neighbors/neighbors.cpp
  sklearnex/dispatcher.py
  sklearnex/neighbors/__init__.py
  sklearnex/neighbors/knn_regression.py
Owners: none

Address comments
  README.md
Owners: @outoftardis

fix svm
  .ci/pipeline/release.yml
  onedal/svm/svm.py
Owners: @napetrov, @vmeshche

Update Readme (#824)
  INSTALL.md
  README.md
Owners: @outoftardis

fix pep8
  onedal/svm/svm.py
Owners: none

Restructure docs
  .gitignore
  doc/build-doc.sh
  doc/sources/acceleration.rst
  doc/sources/algorithms.rst
  doc/sources/blogs.rst
  doc/sources/conf.py
  doc/sources/global-patching.rst
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi_gpu.rst
  doc/sources/quick-start.rst
  doc/sources/samples.rst
  doc/sources/support.rst
  doc/sources/system-requirements.rst
  doc/sources/terminology.rst
  doc/sources/usage.rst
  doc/sources/verbose.rst
  doc/sources/what-is-patching.rst
  requirements-doc.txt
Owners: @outoftardis, @Pahandrovich, @vmeshche

Fix links
  README.md
  doc/sources/oneapi-gpu.rst
Owners: @outoftardis
