Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

EXPERIMENTAL fix cpu offloading (#1491)
  onedal/common/_policy.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

skip hanging tests
  tests/run_examples.py
Owners: none

FIX: LinReg gpu tol issue
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

update fix
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

FIX: LinReg gpu tol issue (#1495)
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

FIX: LinReg gpu tol issue (#1495)
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

disable kmeans_spmd
  tests/run_examples.py
Owners: none

temporary disabling kmeans_spmd example
  tests/run_examples.py
Owners: none

adding comment
  tests/run_examples.py
Owners: none

Disable kmeans_spmd example (#1497)
  tests/run_examples.py
Owners: none

Disable kmeans_spmd example (#1497)
  tests/run_examples.py
Owners: none

DO NOT MERGE: just for dpc_backend debug
  sklearnex/tests/test_dpc_backend.py
Owners: @Alexsandruss, @samir-nasibli

python3.8 2024.0 deselected tests update
  deselected_tests.yaml
Owners: none

additional threshold upgrade
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

Update policy.cpp
  onedal/common/policy.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Adding dpctl import workaround to setup_sklearnex
  setup_sklearnex.py
Owners: none

[Enhancement] Unify Random Forest and Extra Trees preview algorithms (#1440)
  daal4py/sklearn/ensemble/_forest.py
  deselected_tests.yaml
  sklearnex/preview/ensemble/__init__.py
  sklearnex/preview/ensemble/_forest.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

follow-up
  deselected_tests.yaml
Owners: none

Adding dpctl import workaround to setup_sklearnex (#1502)
  setup_sklearnex.py
Owners: none

Adding dpctl import workaround to setup_sklearnex (#1502)
  setup_sklearnex.py
Owners: none

move to BaseForest
  onedal/primitives/get_tree.py
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

reduce max_sample tech debt
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

reduce max_sample tech debt cont.
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

reduce max_sample tech debt cont. 2
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove check_consistent_length for test coverage
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black formatting
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix inconsistency
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix error
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

corrections
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

BUG: avoid using dpctl include for python3.8
  onedal/datatypes/tests/test_data.py
  scripts/build_backend.py
  setup.py
  setup_sklearnex.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli

codestyle
  onedal/datatypes/tests/test_data.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli

MAINT: fixing lint fails
  sklearnex/dispatcher.py
  sklearnex/preview/ensemble/_forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

modifications for test coverage
  .ci/scripts/select_sklearn_tests.py
  sklearnex/preview/ensemble/_forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

formatting and cleanup
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

enable test_common for CI abuse
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

move files around
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove vestiges
  sklearnex/ensemble/__init__.py
  sklearnex/ensemble/forest.py
  sklearnex/preview/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

strip out preview
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/spmd/ensemble/forest.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove errant 'preview' in test scripts
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

change file permission
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli
