Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

fix: don't set additional attributes in init for skl<1.0
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

feat: hard-code static parameter splitter_mode=random
  deselected_tests.yaml
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix min_impurity_split compatibility across skl versions
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Missing values support for inference (#1276)
  src/gbt_convertors.pyx
  src/gbt_model_builder.h
  src/gbt_model_builder.pyx
Owners: @Alexsandruss

Move ExtraTrees to preview namespace; add preview.ensemble to memory test
  sklearnex/dispatcher.py
  sklearnex/ensemble/__init__.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/preview/ensemble/__init__.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Delete extra trees from non-preview namespace
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Return min_impurity_split fix
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Return sklearnex.ensemble files structure
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

oneDAL Extratrees Classifier and Regressor Integration (#1247)
  .ci/scripts/run_sklearn_tests.sh
  daal4py/INSTALL.md
  deselected_tests.yaml
  onedal/ensemble/__init__.py
  onedal/ensemble/forest.py
  sklearnex/dispatcher.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/preview/ensemble/__init__.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
  sklearnex/tests/test_memory_usage.py
Owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

[Don't Review] Integrity Test
  setup.py
Owners: @Alexsandruss

FIX: Update incorrect documentation hyperlink
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update incorrect link to usm_ndarray in docs (#1311)
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Fix versions in sklearn setup script
  .ci/scripts/setup_sklearn.sh
Owners: @napetrov, @Alexsandruss

Temporary: enable all sklearn tests in CI
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Change logloss ratio in df test
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
Owners: @Alexsandruss, @samir-nasibli

Update deselected tests
  deselected_tests.yaml
Owners: none

Apply new tree nodes format from sklearn 1.3
  daal4py/sklearn/_utils.py
  daal4py/sklearn/ensemble/_forest.py
  onedal/primitives/tree_visitor.cpp
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  src/gettree.pyx
  src/tree_visitor.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove unused imports; update comment
  daal4py/sklearn/_utils.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Revert "Temporary: enable all sklearn tests in CI"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Deleting empty examples
  examples/daal4py/df_cls_dense_batch_model_builder.py
  examples/daal4py/df_cls_traversed_model_builder.py
  examples/daal4py/gbt_cls_traversed_model_builder.py
  examples/daal4py/gbt_reg_traversed_model_builder.py
  examples/daal4py/lin_reg_model_builder.py
  examples/daal4py/svm_multi_class_model_builder.py
  examples/daal4py/svm_two_class_model_builder.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Adding first version of model builders doc
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

daal4py documentation cleanup
  doc/daal4py/contents.rst
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  setup.py
  setup_sklearnex.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

fixing extra deletion
  doc/daal4py/examples.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

fixing copyright
  doc/daal4py/model-builders.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Code format
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/objective_function/objective_function.py
  sklearnex/preview/objective_function/tests/test_preview_logloss.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix sklearn version in CI and wrappers (#1313)
  .ci/scripts/setup_sklearn.sh
  daal4py/sklearn/_utils.py
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  deselected_tests.yaml
  onedal/primitives/tree_visitor.cpp
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  src/gettree.pyx
  src/tree_visitor.h
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

feat: add pyproject.toml
  daal4py/sklearn/ensemble/_forest.py
  pyproject.toml
Owners: @Alexsandruss, @samir-nasibli

chore: refactor classes and their methods
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

fix: change end of line sequence CLRF->LF
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

fix: black format
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

feat: use binningStrategy, if available
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

feat: format file
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
Owners: @Alexsandruss, @samir-nasibli

fix: provide _parameter_constraints for skl>=1.2
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

fix: add copyright to pyproject.toml
  pyproject.toml
Owners: none

fix: CI fixes with flake8 & black formatting
  .ci/pipeline/ci.yml
  .ci/pipeline/docs.yml
  daal4py/sklearn/ensemble/_forest.py
  pyproject.toml
  setup.cfg
Owners: @napetrov, @Alexsandruss, @samir-nasibli

feat: modify training params to allow tighter log-lossio constraint
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
Owners: @Alexsandruss, @samir-nasibli

chore: line length 120->90
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  pyproject.toml
Owners: @Alexsandruss, @samir-nasibli

Apply tree nodes check in forest
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

DEP: deprecate dpctx using in examples
  examples/daal4py/sycl/bf_knn_classification_batch.py
  examples/daal4py/sycl/covariance_batch.py
  examples/daal4py/sycl/covariance_streaming.py
  examples/daal4py/sycl/dbscan_batch.py
  examples/daal4py/sycl/decision_forest_classification_batch.py
  examples/daal4py/sycl/decision_forest_classification_hist_batch.py
  examples/daal4py/sycl/decision_forest_regression_batch.py
  examples/daal4py/sycl/decision_forest_regression_hist_batch.py
  examples/daal4py/sycl/gradient_boosted_regression_batch.py
  examples/daal4py/sycl/kmeans_batch.py
  examples/daal4py/sycl/linear_regression_batch.py
  examples/daal4py/sycl/log_reg_binary_dense_batch.py
  examples/daal4py/sycl/log_reg_dense_batch.py
  examples/daal4py/sycl/low_order_moms_dense_batch.py
  examples/daal4py/sycl/low_order_moms_streaming.py
  examples/daal4py/sycl/pca_batch.py
  examples/daal4py/sycl/pca_transform_batch.py
  examples/daal4py/sycl/svm_batch.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
