Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

SPMD sklearnex examples run (#1217)
  .gitignore
  conda-recipe/meta.yaml
  examples/sklearnex/basic_statistics_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fixes for PR comments on examples and class names
  examples/sklearnex/pca_spmd.py
  onedal/spmd/decomposition/pca.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

added requirement for rf examples
  tests/run_examples.py
Owners: none

example rename
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update run_examples.py after rebase
  tests/run_examples.py
Owners: none

flake8
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update runexamples with pca_spmd
  tests/run_examples.py
Owners: none

Increase time limit for sklearn tests in CircleCI
  .circleci/config.yml
Owners: @napetrov, @Alexsandruss

Add SKLEARNEX_CMAKE_N_JOBS var. to fix cmake parallel jobs
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

Decrease time limit and add verbosity
  .circleci/config.yml
  .circleci/run_and_compare.sh
Owners: @napetrov, @Alexsandruss

Update onedal/__init__.py
  onedal/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update setup.py
  setup.py
Owners: @Alexsandruss

Experiment: increase time limit to 2h
  .circleci/config.yml
Owners: @napetrov, @Alexsandruss

update SPMD module
  examples/sklearnex/random_forest_regressor_spmd.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add featues and samples in example
  examples/sklearnex/pca_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Delete .circleci/config.yml
  .circleci/config.yml
Owners: @napetrov, @Alexsandruss

PCA SPMD python interfaces (#1211)
  examples/sklearnex/pca_spmd.py
  onedal/__init__.py
  onedal/decomposition/pca.cpp
  onedal/decomposition/pca.py
  onedal/primitives/covariance.cpp
  onedal/spmd/decomposition/__init__.py
  onedal/spmd/decomposition/pca.py
  setup.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/spmd/__init__.py
  sklearnex/spmd/decomposition/__init__.py
  sklearnex/spmd/decomposition/pca.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

addressing non gpu spmd call, better multiline string
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  onedal/spmd/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

ENH: added splitter_mode for Random Forest
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/ensemble/tests/test_random_preview_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

pep8 alingment
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/tests/test_random_preview_forest.py
Owners: @Alexsandruss, @samir-nasibli

update spmd interface
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix spmd level CPU/GPU checkers
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix regressor
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

pep8 alingment
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Delete .circleci/setup_env.sh
  .circleci/setup_env.sh
Owners: @napetrov, @Alexsandruss

KNN SPMD python interfaces (#1208)
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  onedal/__init__.py
  onedal/neighbors/neighbors.cpp
  onedal/neighbors/neighbors.py
  onedal/spmd/neighbors/__init__.py
  onedal/spmd/neighbors/neighbors.py
  setup.py
  sklearnex/spmd/__init__.py
  sklearnex/spmd/neighbors/__init__.py
  sklearnex/spmd/neighbors/neighbors.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: remove classses_ attribute from kNN regression
  sklearnex/neighbors/knn_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update usm_ndarray_support
  onedal/_device_offload.py
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

enabled support usm_ndarray in onedal algos for using on SPMD interface
  examples/sklearnex/basic_statistics_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  examples/sklearnex/pca_spmd.py
  onedal/basic_statistics/basic_statistics.py
  onedal/decomposition/pca.py
  onedal/linear_model/linear_model.py
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated support for kNN; update SPMD kNN example
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  onedal/neighbors/neighbors.py
  onedal/spmd/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

address comments
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor update for examples
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix tests
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

condition for splitter mode
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix
  examples/sklearnex/spmd_linear_regression_1.py
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Pep8 satisfied
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/ensemble/forest.cpp
  onedal/ensemble/forest.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

address comments
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Delete spmd_linear_regression_1.py
  examples/sklearnex/spmd_linear_regression_1.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
