Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Fix for test_global_patch.py call
  conda-recipe/run_test.sh
Owners: @Alexsandruss

Merge sklearn setup with test reqs installation
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

ENH: added splitter_mode for Random Forest (#1223)
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add option to run all sklearn tests
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.sh
Owners: @napetrov, @Alexsandruss

Experiment: run all sklearn tests in job
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Update Nightly and Release jobs
  .ci/pipeline/nightly.yml
  .ci/pipeline/release.yml
Owners: @napetrov, @Alexsandruss

Specify pandas version for compatibility with scipy 1.6 and sklearn 0.24
  .ci/scripts/get_compatible_scipy_version.py
Owners: @napetrov, @Alexsandruss

Deselect partial dependence tests for LinReg on MacOS
  deselected_tests.yaml
Owners: none

Fix pandas version pip spec
  .ci/scripts/get_compatible_scipy_version.py
Owners: @napetrov, @Alexsandruss

Temp. disable CI matrix
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Experiment: use template for building and testing
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Use templates on all systems; Add nightly jobs
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Update Azure pipelines scope (#1226)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
  .ci/pipeline/release.yml
  .ci/scripts/get_compatible_scipy_version.py
  .ci/scripts/install_dpcpp.sh
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/setup_sklearn.sh
  .ci/scripts/test_global_patch.py
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
  daal4py/sklearn/neighbors/_base.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss, @samir-nasibli

Add pyyaml installation
  .ci/pipeline/release.yml
Owners: @napetrov, @Alexsandruss

Add pyyaml installation in release CI pipeline (#1230)
  .ci/pipeline/release.yml
Owners: @napetrov, @Alexsandruss

Update DPC++ compiler version to 2023.1.0
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

Add system info step in release and nightly
  .ci/pipeline/nightly.yml
  .ci/pipeline/release.yml
Owners: @napetrov, @Alexsandruss

Update DPC++ compiler version to 2023.1.0 (#1233)
  .ci/pipeline/nightly.yml
  .ci/pipeline/release.yml
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

RF binning strategy fails poisson_vs_mse
  deselected_tests.yaml
Owners: none

English correction to deselected_tests
  deselected_tests.yaml
Owners: none

Change to lower case in certain circumstances.
  deselected_tests.yaml
Owners: none

Further capitalization mistake corrections
  deselected_tests.yaml
Owners: none

Capitalization corrections
  deselected_tests.yaml
Owners: none

Disable test_poisson_vs_mse
  deselected_tests.yaml
Owners: none

Removed test_poisson_vs_mse
  deselected_tests.yaml
Owners: none

Disable test_poisson_vs_mse (#1235)
  deselected_tests.yaml
Owners: none

Update DPC++ runtime version
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

Update DPC++ runtime version (#1236)
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

Bug bounty test - please ignore.... (oynwfr)
  doc/Makefile
  doc/daal4py/Makefile
  setup.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

Bug bounty test - please ignore.... (wzfqwl)
  doc/Makefile
  doc/daal4py/Makefile
  setup.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

chore: auto-format
  sklearnex/__init__.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

feat: add helper function to check if instance is patched
  sklearnex/__init__.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixup: use get_patch_map() to load models
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @samir-nasibli

fix typo in patch map key
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixup: use get_patch_map & issubclass to determine patched classes
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @samir-nasibli

Apply PEP8
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @samir-nasibli

Fix comments in dispatcher
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

feat: add function to check patching status of an instance (#1231)
  sklearnex/__init__.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

sklearn -> scikit-learn, sklearnex -> scikit-learn-intelex
  deselected_tests.yaml
Owners: none

Missed conversions
  deselected_tests.yaml
Owners: none

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
