Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @vmeshche, @Pahandrovich, @outoftardis, @vlad-nazarov

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @vmeshche
.github/                      @napetrov @vmeshche
.circleci/                    @Pahandrovich @vmeshche

# Docs
*.md                          @outoftardis
doc/                          @outoftardis

# DPC++
**/oneapi/                    @vlad-nazarov

# Examples 
examples/                     @Pahandrovich @vlad-nazarov

# Dependencies
setup.py                      @Pahandrovich @vmeshche
requirements*                 @Pahandrovich @vmeshche
conda-recipe/                 @Pahandrovich @vmeshche

# Testing
**/test*.py                   @Pahandrovich

# Scikit-learn patching
daal4py/sklearn/              @Pahandrovich @vlad-nazarov

# Core
src/                          @Pahandrovich @vlad-nazarov @vmeshche
generator/                    @Pahandrovich @vlad-nazarov @vmeshche

Added notebooks with modin and scikit-learn demo (#818)
  examples/notebooks/modin-demo/NYCTaxi-E2E-Large-Data-Optimized.ipynb
  examples/notebooks/modin-demo/NYCTaxi-E2E-RAPIDS.ipynb
  examples/notebooks/modin-demo/NYCTaxi-E2E-Small-Data.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Renamed demo folder
  examples/notebooks/NYCTaxi-Perf-Demo/NYCTaxi-E2E-Large-Data-Optimized.ipynb
  examples/notebooks/NYCTaxi-Perf-Demo/NYCTaxi-E2E-RAPIDS.ipynb
  examples/notebooks/NYCTaxi-Perf-Demo/NYCTaxi-E2E-Small-Data.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Renamed folder one more time
  examples/notebooks/NYCTaxi-E2E-Demo/NYCTaxi-E2E-Large-Data-Optimized.ipynb
  examples/notebooks/NYCTaxi-E2E-Demo/NYCTaxi-E2E-RAPIDS.ipynb
  examples/notebooks/NYCTaxi-E2E-Demo/NYCTaxi-E2E-Small-Data.ipynb
Owners: @Pahandrovich, @vlad-nazarov

checkout file log_reg example
  examples/notebooks/logistictic_regression_cifar.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Renamed demo folder (#821)
  examples/notebooks/NYCTaxi-E2E-Demo/NYCTaxi-E2E-Large-Data-Optimized.ipynb
  examples/notebooks/NYCTaxi-E2E-Demo/NYCTaxi-E2E-RAPIDS.ipynb
  examples/notebooks/NYCTaxi-E2E-Demo/NYCTaxi-E2E-Small-Data.ipynb
Owners: @Pahandrovich, @vlad-nazarov

add new deselected tests
  deselected_tests.yaml
Owners: none

add system requirements
  doc/sources/contents.rst
  doc/sources/get_started.rst
  doc/sources/system_requirements.rst
Owners: @outoftardis

remove install tabs attempt
  doc/sources/get_started.rst
Owners: @outoftardis

apply comments
  doc/sources/index.rst
  doc/sources/system_requirements.rst
Owners: @outoftardis

apply comments 2
  doc/sources/system_requirements.rst
Owners: @outoftardis

Restructure readme
  README.md
Owners: @outoftardis

Change link order
  README.md
Owners: @outoftardis

Update readme
  README.md
Owners: @outoftardis

Update readme
  README.md
Owners: @outoftardis

Update readme
  README.md
Owners: @outoftardis

Update readme
  README.md
Owners: @outoftardis

add 1 more deselected test
  deselected_tests.yaml
Owners: none

fix pep8
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/neighbors/_base.py
Owners: @Pahandrovich, @vlad-nazarov

osx - macos
  doc/sources/system_requirements.rst
Owners: @outoftardis

fix svm's sklearn check version
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: none

Temporary patch rpath for macos in release CI (#820)
  .ci/pipeline/release.yml
Owners: @napetrov, @vmeshche

Fix rpath for macOS for _onedal_py.so file (#819)
  scripts/CMakeLists.txt
Owners: none

minor fixes
  sklearnex/svm/nusvr.py
  sklearnex/svm/svr.py
Owners: none

Update sphinx theme
  doc/sources/_static/favicons.png
  doc/sources/_static/oneAPI-rgb-rev-100.png
  doc/sources/conf.py
Owners: @outoftardis

Add nojekyll
  .nojekyll
Owners: none

Add nojekyll (#826)
  .nojekyll
Owners: none

Fix theme output
  .gitignore
  doc/sources/conf.py
  requirements-doc.txt
Owners: @outoftardis, @Pahandrovich, @vmeshche

Remove old info, update version
  doc/sources/conf.py
Owners: @outoftardis

Update README.md
  README.md
Owners: @outoftardis

apply Pasha's comments
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
  daal4py/sklearn/neighbors/_unsupervised.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: @Pahandrovich, @vlad-nazarov

fix pep8
  daal4py/sklearn/neighbors/_classification.py
Owners: @Pahandrovich, @vlad-nazarov

fix for patching condition
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

fix multioutput, y for unsupervised fit is none
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

add 1 more deselected test
  deselected_tests.yaml
Owners: none

Fix scikit-learn 1.0 problems (#817)
  daal4py/sklearn/cluster/_dbscan.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/_ridge.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/neighbors/_base.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/svm/_svm_0_23.py
  deselected_tests.yaml
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: @Pahandrovich, @vlad-nazarov

add onedal ifaces to nightly testing
  .circleci/config.yml
  .circleci/setup_env.sh
Owners: @Pahandrovich, @vmeshche

Update atol
  examples/daal4py/sycl/linear_regression_batch.py
Owners: @Pahandrovich, @vlad-nazarov

Update links to examples
  doc/daal4py/algorithms.rst
  doc/daal4py/examples.rst
  doc/daal4py/scaling.rst
  doc/daal4py/streaming.rst
Owners: @outoftardis

Fix links
  doc/daal4py/examples.rst
Owners: @outoftardis

add python 3.9
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @vmeshche
