Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @vmeshche, @Pahandrovich, @outoftardis, @vlad-nazarov

Fix links
  doc/sources/index.rst
Owners: @outoftardis

Update doc build instructions
  INSTALL.md
Owners: @outoftardis

fix pep8
  onedal/svm/svm.py
Owners: none

Update doc/build-doc.sh
  doc/build-doc.sh
Owners: @outoftardis

Update requirements for doc build
  INSTALL.md
Owners: @outoftardis

Update doc/sources/usage.rst
  doc/sources/usage.rst
Owners: @outoftardis

Fix svm for scikit-learn 1.0.1 (#837)
  .ci/pipeline/release.yml
  onedal/svm/svm.py
Owners: @napetrov, @vmeshche

fix feature naming for numpy datasets
  src/gbt_convertors.pyx
Owners: @Pahandrovich, @vlad-nazarov, @vmeshche

Add patching options
  doc/sources/conf.py
  doc/sources/patching/patch-kmeans-example.rst
  doc/sources/patching/patch-one-algorithm.rst
  doc/sources/patching/patch-several-algorithms.rst
  doc/sources/patching/patching-options.rst
  doc/sources/patching/undo-patch.rst
  doc/sources/usage.rst
  doc/sources/what-is-patching.rst
Owners: @outoftardis

Update gh-pages
  _sources/what-is-patching.rst.txt
  genindex.html
  index.html
  objects.inv
  quick-start.html
  searchindex.js
  what-is-patching.html
Owners: none

Fix for XGBoost model builder (#841)
  src/gbt_convertors.pyx
Owners: @Pahandrovich, @vlad-nazarov, @vmeshche

fix knn
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
  deselected_tests.yaml
Owners: @Pahandrovich, @vlad-nazarov

add 4 new deselected tests
  deselected_tests.yaml
Owners: none

fix deselect file
  deselected_tests.yaml
Owners: none

fix deselected and knn predict for bad arg sparses
  daal4py/sklearn/neighbors/_base.py
  deselected_tests.yaml
Owners: @Pahandrovich, @vlad-nazarov

Update deselected_tests.yaml
  deselected_tests.yaml
Owners: none

Add note about interchangebility
  doc/sources/patching/patching-options.rst
Owners: @outoftardis

Update gh-pages
  index.html
  quick-start.html
  searchindex.js
  what-is-patching.html
Owners: none

apply comments
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/kmeans.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Update doc/sources/conf.py
  doc/sources/conf.py
Owners: @outoftardis

Fix pep
  doc/sources/conf.py
Owners: @outoftardis

fix text
  examples/notebooks/lasso_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Update gpu support table
  doc/sources/algorithms.rst
Owners: @outoftardis

Update gh-pages
  _sources/algorithms.rst.txt
  algorithms.html
  searchindex.js
Owners: none

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @vmeshche

Restructure documentation (#838)
  .gitignore
  INSTALL.md
  README.md
  doc/build-doc.sh
  doc/sources/acceleration.rst
  doc/sources/algorithms.rst
  doc/sources/blogs.rst
  doc/sources/conf.py
  doc/sources/global-patching.rst
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/patching/patch-kmeans-example.rst
  doc/sources/patching/patch-one-algorithm.rst
  doc/sources/patching/patch-several-algorithms.rst
  doc/sources/patching/patching-options.rst
  doc/sources/patching/undo-patch.rst
  doc/sources/quick-start.rst
  doc/sources/samples.rst
  doc/sources/support.rst
  doc/sources/system-requirements.rst
  doc/sources/usage.rst
  doc/sources/verbose.rst
  doc/sources/what-is-patching.rst
  requirements-doc.txt
Owners: @outoftardis, @Pahandrovich, @vmeshche

Update requirements-doc.txt
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @vmeshche

adding copyrights
  doc/build-doc.sh
  doc/sources/patching/patch-kmeans-example.rst
  doc/sources/patching/patch-one-algorithm.rst
  doc/sources/patching/patch-several-algorithms.rst
  doc/sources/patching/patching-options.rst
  doc/sources/patching/undo-patch.rst
Owners: @outoftardis

adding copyrights (#849)
  doc/build-doc.sh
  doc/sources/patching/patch-kmeans-example.rst
  doc/sources/patching/patch-one-algorithm.rst
  doc/sources/patching/patch-several-algorithms.rst
  doc/sources/patching/patching-options.rst
  doc/sources/patching/undo-patch.rst
Owners: @outoftardis

Fix sklearn 1.0.1 tests (#836)
  daal4py/sklearn/neighbors/_base.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
  deselected_tests.yaml
Owners: @Pahandrovich, @vlad-nazarov

Change to check CI
  onedal/datatypes/data_conversion.cpp
Owners: none

save work
  onedal/neighbors/neighbors.cpp
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

clear comments in test, need to add fresh tests
  onedal/neighbors/tests/test_knn_classification.py
Owners: @Pahandrovich

Remove cast
  onedal/svm/svm.py
Owners: none

fix unsupervised tests, warnings import
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

apply @vlad-nazarov's comment
  onedal/neighbors/neighbors.cpp
Owners: none

remove redundant astype
  onedal/neighbors/neighbors.py
Owners: none

tests
  onedal/neighbors/neighbors.py
  onedal/neighbors/tests/test_knn_classification.py
  sklearnex/neighbors/tests/test_neighbors.py
Owners: @Pahandrovich

Add wait and update context
  .circleci/run_xpu_tests.py
  onedal/datatypes/data_conversion.cpp
Owners: @Pahandrovich, @vmeshche

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @vmeshche
.github/                      @napetrov @vmeshche
.circleci/                    @Pahandrovich @vmeshche

# Docs
*.md                          @outoftardis
doc/                          @outoftardis

# DPC++
**/oneapi/                    @vlad-nazarov

# Examples 
examples/                     @Pahandrovich @vlad-nazarov

# Dependencies
setup.py                      @Pahandrovich @vmeshche
requirements*                 @Pahandrovich @vmeshche
conda-recipe/                 @Pahandrovich @vmeshche

# Testing
**/test*.py                   @Pahandrovich

# Scikit-learn patching
daal4py/sklearn/              @Pahandrovich @vlad-nazarov

# Core
src/                          @Pahandrovich @vlad-nazarov @vmeshche
generator/                    @Pahandrovich @vlad-nazarov @vmeshche
