Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust, @maria-Petrova, @emmwalsh, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @samir-nasibli @icfaust
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser

# Docs
*.md                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
doc/                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
requirements-doc.txt          @emmwalsh @Alexsandruss

# DPC++
onedal/                       @Alexsandruss @samir-nasibli @icfaust
sklearnex/                    @Alexsandruss @samir-nasibli @icfaust

# Examples
examples/                     @maria-Petrova @Alexsandruss @samir-nasibli @napetrov

# Dependencies
setup.py                      @napetrov @Alexsandruss @samir-nasibli @icfaust
requirements*                 @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
dependencies-dev              @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
conda-recipe/                 @napetrov @Alexsandruss

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel

# Forests
*ensemble*                    @ahuber21 @icfaust

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli @icfaust

# Distributed
*spmd*                        @samir-nasibli @ethanglaser

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli @icfaust

# Core
src/                          @Alexsandruss @samir-nasibli @icfaust
generator/                    @Alexsandruss @samir-nasibli @icfaust

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

modify hyperparameters getattr/setattr for better debug output
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

instantiate hyperparams for entire task_list
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

remove outdated tests from deselected_test.yaml
  deselected_tests.yaml
Owners: none

Delete .circleci/compare_runs.py
  .circleci/compare_runs.py
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Delete .circleci/run_and_compare.sh
  .circleci/run_and_compare.sh
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update algorithms.rst
  doc/sources/algorithms.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Added a clarifying comment
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fix copyrigh year
  onedal/datatypes/data_conversion_sua_iface.cpp
  onedal/datatypes/data_conversion_sua_iface.hpp
  onedal/datatypes/utils/dtype_conversions.hpp
Owners: @Alexsandruss, @samir-nasibli, @icfaust

renamed macros for dtype matching
  onedal/datatypes/data_conversion_sua_iface.cpp
  onedal/datatypes/utils/dtype_conversions.hpp
  onedal/datatypes/utils/dtype_dispatcher.hpp
Owners: @Alexsandruss, @samir-nasibli, @icfaust

refactor tests
  onedal/datatypes/tests/test_data.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

refactor tests
  onedal/datatypes/tests/common.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update ci.yml
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

[fix] lock 'isort' and 'black' matching versions for pre-commit-config.yaml and CI check (#2115)
  .ci/pipeline/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @maria-Petrova, @emmwalsh, @samir-nasibli, @icfaust

deselect test with dubious failure logic
  deselected_tests.yaml
Owners: none

rename df_infer_hp
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

instantiate hp only for classification
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

Retrieve hparams only for classification
  onedal/ensemble/forest.py
Owners: @ahuber21, @icfaust

change hyperparam values to %8 values
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
Owners: @ahuber21, @icfaust, @Alexsandruss, @samir-nasibli

Update .coveragerc
  .coveragerc
Owners: none

Update CI matrix and add comments
  .ci/pipeline/ci.yml
  .ci/scripts/gen_release_jobs.py
  conda-recipe/conda_build_config.yaml
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

don't test on GPU when not supported
  onedal/linear_model/tests/test_linear_regression.py
  sklearnex/linear_model/tests/test_linear.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

[workaround] use older artifacts to avoid pipeline error - revert before merge
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

try removing the parameters on deselection
  deselected_tests.yaml
Owners: none

Remove catboost; corrections for run_test.bat
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss

Add git tag as package version
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss

[enhancement] interface with compressed artifacts oneapi-src/oneDAL#2938 (#2093)
  .github/scripts/activate_components.bat
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

[enhancement] Remove unrun .circleci code (#2117)
  .circleci/compare_runs.py
  .circleci/run_and_compare.sh
  doc/sources/algorithms.rst
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @maria-Petrova, @emmwalsh, @samir-nasibli, @icfaust

update
  doc/sources/array_api.rst
  doc/sources/conf.py
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Revert "try removing the parameters on deselection"
  deselected_tests.yaml
Owners: none

try moving the deselection to a more general section
  deselected_tests.yaml
Owners: none

Revert "[workaround] use older artifacts to avoid pipeline error - revert before merge"
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

generate json reports during CI runs
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
  .github/workflows/ci.yml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust

remove accidental spaces
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss

[refactor] sort tests and fix typo in print statement
  tests/test_daal4py_examples.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust
