Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

[Don't review] Workflow test
  setup.py
Owners: @Alexsandruss

[Don't Review] Workflow test
  setup.py
Owners: @Alexsandruss

requested changes
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

added clarification
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

suggested changes
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Style formating
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add version check to dispatcher
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

check_no_attributes_set_in_init to match RF deselected_tests
  deselected_tests.yaml
Owners: none

check_requires_y_none to match RF deselected_tests
  deselected_tests.yaml
Owners: none

Update gradient_hessian_product, add tests to sklearn/preview
  onedal/objective_function/objective_function.py
  sklearnex/preview/objective_function/objective_function.py
  sklearnex/preview/objective_function/tests/test_preview_logloss.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add logistic regression example to examples/sklearnex
  examples/sklearnex/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix tests
  sklearnex/preview/objective_function/tests/test_preview_logloss.py
Owners: @Alexsandruss, @samir-nasibli

_onedal_fit change to pass supervised_y_2d sklearn test
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Alexandruss update suggestion
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 Compliance
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix version conditions in setup files
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Style formating
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  sklearnex/preview/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update example
  examples/sklearnex/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

add ET algos to test_memory_usage.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli

PEP8
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli

remove splitter_mode from ET API
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

ugly duplication for test_check_param_validation
  .ci/scripts/select_sklearn_tests.py
  sklearnex/ensemble/forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

API problems corrected
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correction to max_samples, n_samples
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

cosmetic change for future deletion
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

deselected_tests
  .ci/scripts/select_sklearn_tests.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss

Correction needed for sklearn1.0
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

move to properly check max_samples... again
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update forest.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update forest.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8
  onedal/ensemble/forest.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

switch back to hist
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update versioning and examples
  examples/sklearnex/logistic_regression.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: disable test due to small accuracy mismatch
  deselected_tests.yaml
Owners: none

Fix for regressor inference patching failure
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add finiteness check
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

sklearnex_sycl minor update for enabling
  examples/daal4py/sycl/sklearn_sycl.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

fix: don't override min_impurity_split for skl<1.0
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: order of parameter checks for skl<1.0 testing
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add copyright section
  examples/sklearnex/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita
