Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

fixes
  examples/sklearnex/n_jobs.py
  examples/sklearnex/patch_sklearn.py
  examples/sklearnex/verbose_mode.py
  tests/run_examples.py
  tests/test_examples_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update test param generator
  onedal/tests/utils/_dataframes_support.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

disabled test_sklearnex_import_nn for dpnp and dpctl
  sklearnex/neighbors/tests/test_neighbors.py
Owners: @Alexsandruss, @samir-nasibli

black
  tests/run_examples.py
Owners: none

Remove estimator check from extra_trees.py
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove estimator check from forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix
  tests/run_examples.py
Owners: none

[bugfix] Preview Ensemble algos - allow for onedal fit to be called multiple times (#1380)
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correct memory leak
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated tests for neighbors, preview.decomposition, preview.ensemble, preview.linear, and svm modules
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/preview/decomposition/tests/test_preview_pca.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
  sklearnex/preview/linear_model/tests/test_preview_linear.py
  sklearnex/svm/tests/test_svm.py
Owners: @Alexsandruss, @samir-nasibli

Update dpcpp dependencies to 2023.2.0
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

moving to lazy evaluation
  onedal/primitives/__init__.py
  onedal/primitives/get_tree.py
  onedal/primitives/tree_visitor.cpp
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

incomplete merge
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove vestigial code
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

back in black
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

add const-ness
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove const from depth
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Change dpnp installation
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

Update version boundary for dpctl
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

Unpin oneDAL version for macOS CI
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Unpin oneDAL version for macOS CI (#1383)
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

ENH: dpnp interop for SPMD sklearnex interface
  examples/sklearnex/random_forest_regressor_spmd.py
  onedal/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Enable build with DPC++ on Windows CI
  .ci/pipeline/build-and-test-win.yml
  .ci/scripts/install_dpcpp.bat
Owners: @napetrov, @Alexsandruss

Fix script path
  .ci/pipeline/build-and-test-win.yml
Owners: @napetrov, @Alexsandruss

Fix dpcpp conda pkgs spec
  .ci/pipeline/build-and-test-win.yml
Owners: @napetrov, @Alexsandruss

Modify DPCPPROOT spec for build process
  .ci/pipeline/build-and-test-win.yml
Owners: @napetrov, @Alexsandruss

updated requirements in the runner for the example
  tests/run_examples.py
Owners: none

disabled GPU device check for test_sklearnex_import_svc
  sklearnex/svm/tests/test_svm.py
Owners: @Alexsandruss, @samir-nasibli

Revert "Update version boundary for dpctl"
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

Revert "Change dpnp installation"
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

ENH: `dpnp` interop for SPMD `sklearnex` interface (#1384)
  examples/sklearnex/random_forest_regressor_spmd.py
  onedal/_device_offload.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update dpcpp dependencies to 2023.2.0 (#1382)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

follow oneDAL common.hpp conventions
  onedal/ensemble/forest.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black corrections
  onedal/ensemble/forest.cpp
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

MAAINT: minor fixes
  examples/sklearnex/knn_bf_classification_dpnp_batch.py
  examples/sklearnex/random_forest_regressor_dpnp_batch.py
  examples/sklearnex/random_forest_regressor_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

move seed order
  onedal/ensemble/forest.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

undo some unnessesary changes
  examples/daal4py/decision_forest_classification_traverse.py
  examples/daal4py/decision_forest_regression_traverse.py
  examples/daal4py/gradient_boosted_classification_traverse.py
  examples/daal4py/gradient_boosted_regression_traverse.py
  examples/sklearnex/n_jobs.py
  examples/sklearnex/patch_sklearn.py
  examples/sklearnex/verbose_mode.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli, @KulikovNikita

undo some unnessesary changes
  examples/daal4py/decision_tree_classification_traverse.py
  examples/daal4py/decision_tree_regression_traverse.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

minor refoactoring for test utils
  onedal/tests/utils/_dataframes_support.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/preview/decomposition/tests/test_preview_pca.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
  sklearnex/preview/linear_model/tests/test_preview_linear.py
  sklearnex/svm/tests/test_svm.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

MAINT: minor fixes for sklearnex examples (#1387)
  examples/sklearnex/knn_bf_classification_dpnp_batch.py
  examples/sklearnex/random_forest_regressor_dpnp_batch.py
  examples/sklearnex/random_forest_regressor_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
