Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Minor
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/model_selection/_split.py
  examples/daal4py/dbscan_spmd.py
  examples/daal4py/kmeans_spmd.py
  scripts/CMakeLists.txt
  sklearnex/preview/decomposition/pca.py
  tests/spmd_test_examples.py
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @KulikovNikita

Minor
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/model_selection/_split.py
  examples/daal4py/dbscan_spmd.py
  examples/daal4py/kmeans_spmd.py
  scripts/CMakeLists.txt
  setup.py
  sklearnex/preview/decomposition/pca.py
  tests/spmd_test_examples.py
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @KulikovNikita

Minor
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

Minor
  scripts/build_backend.py
Owners: none

Dispatcher library integration
  scripts/CMakeLists.txt
Owners: none

My stupid mistake correction
  scripts/CMakeLists.txt
Owners: none

Print on building with the pearameters library
  scripts/CMakeLists.txt
Owners: none

Additional info
  scripts/CMakeLists.txt
  scripts/build_backend.py
Owners: none

correct version comparison (finally)
  setup.py
Owners: @Alexsandruss

updated usage of pathcing chain for ExtraTreesClassifier
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Linters applied
  scripts/build_backend.py
Owners: none

generalize inheritance
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

further inheritance generalization
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixing mistakes
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

forgotten dict issues
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

issues with dict #2
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black corrections
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Dispatcher library integration (#1419)
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
Owners: @Alexsandruss

remove unnecessary duplication
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove issue with 2d y arrays
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Adding restriction on files
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

Adding restriction on files
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

Adding restriction on files
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

recovering renovate config (#1422)
  .github/renovate.json
  .github/workflows/renovate-validation.yml
Owners: @napetrov, @Alexsandruss

changes for CI
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

further naming issues
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated usage of pathcing chain for ExtraTreesRegressor
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

spelling error
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correct error in estimator check
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correction to parameter constraints
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

revert changes to onedal to play nicely with RF code
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

error message change
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correct problem with check_if_fitted
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

added TypeError
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

moving daal4py/sycl examples to tests
  examples/daal4py/sycl/covariance_streaming.py
  tests/daal4py/stream.py
  tests/daal4py/sycl/bf_knn_classification.py
  tests/daal4py/sycl/covariance.py
  tests/daal4py/sycl/covariance_streaming.py
  tests/daal4py/sycl/dbscan.py
  tests/daal4py/sycl/decision_forest_classification.py
  tests/daal4py/sycl/decision_forest_classification_hist.py
  tests/daal4py/sycl/decision_forest_regression.py
  tests/daal4py/sycl/decision_forest_regression_hist.py
  tests/daal4py/sycl/gradient_boosted_regression.py
  tests/daal4py/sycl/kmeans.py
  tests/daal4py/sycl/linear_regression.py
  tests/daal4py/sycl/log_reg_binary_dense.py
  tests/daal4py/sycl/log_reg_dense.py
  tests/daal4py/sycl/low_order_moms_dense.py
  tests/daal4py/sycl/low_order_moms_streaming.py
  tests/daal4py/sycl/pca.py
  tests/daal4py/sycl/pca_transform.py
  tests/daal4py/sycl/sklearn_sycl.py
  tests/daal4py/sycl/svm.py
  tests/run_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

temp rf spmd for green CI
  examples/sklearnex/random_forest_classifier_spmd.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

[feature] Refactor of ExtraTrees preview for eventual merge with Random Forest (#1425)
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated usage of pathcing chain for RandomForestClassifier and RandomForestRegressor
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update get_status method of PatchingConditionsChain
  sklearnex/_utils.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixed patching for RandomForestCClassifier
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
