Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

last catch
  deselected_tests.yaml
Owners: none

remove trailing spaces
  deselected_tests.yaml
Owners: none

last change
  deselected_tests.yaml
Owners: none

English corrections to deselected_tests.yaml (#1234)
  deselected_tests.yaml
Owners: none

Add dependabot.yml manifest
  .github/dependabot.yml
Owners: @napetrov, @Alexsandruss

Updating python versions for releases validation
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

PEP8 fix
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

.This is a bug bounty test... Please do not approve.. (acleaf)
  doc/Makefile
  doc/daal4py/Makefile
  setup.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

initial
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss

Experiment: switch to earlier oneDAL version
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Integrate splitterMode
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

Corrections to splitterMode inclusion
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

splitterMode -> splitter
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

Add ExtraTrees to sklearnex/dispatcher
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Downgrade dal version to 2023.0.1 for macos in CI
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

initial extratrees introduction
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.sh
  sklearnex/ensemble/forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

missing additions of extratrees
  sklearnex/ensemble/__init__.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

integrated rough extratrees
  .ci/scripts/run_sklearn_tests.sh
  sklearnex/dispatcher.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Run sklearn tests after fail of sklearnex tests
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
Owners: @napetrov, @Alexsandruss

MacOS CI fix (#1245)
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

switch method to dense
  deselected_tests.yaml
  onedal/ensemble/__init__.py
  onedal/ensemble/forest.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Run sklearn tests after fail of sklearnex tests (#1248)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
Owners: @napetrov, @Alexsandruss

remove dead code
  src/gbt_convertors.pyx
Owners: @Alexsandruss

Update requirements
  requirements-dev.txt
  requirements-test-optional.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

Initial commit
  onedal/objective_function/__init__.py
  onedal/objective_function/logloss.cpp
  onedal/objective_function/logloss.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

add extratrees to daal4py
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

forgot bootstrap
  daal4py/sklearn/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli

update monkeypatch
  daal4py/sklearn/monkeypatch/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli

extend into sklearnex
  daal4py/sklearn/ensemble/__init__.py
  sklearnex/ensemble/__init__.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update rtol for onedal basic_stats and lin_reg tests
  onedal/basic_statistics/tests/test_basic_statistics.py
  onedal/linear_model/tests/test_linear_regression.py
Owners: @Alexsandruss, @samir-nasibli

Fix max_features default value for oneDAL RF
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Temporary for PR: add sklearn main testing
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Revert "Temporary for PR: add sklearn main testing"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Update requirements (#1249)
  onedal/basic_statistics/tests/test_basic_statistics.py
  onedal/ensemble/forest.py
  onedal/linear_model/tests/test_linear_regression.py
  requirements-dev.txt
  requirements-test-optional.txt
  requirements-test.txt
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @napetrov

Update .github/dependabot.yml
  .github/dependabot.yml
Owners: @napetrov, @Alexsandruss

Updating python versions for releases validation (#1243)
  .ci/scripts/gen_release_jobs.py
Owners: @napetrov, @Alexsandruss

Create dependabot-validation.yml
  .github/workflows /dependabot-validation.yml
Owners: @napetrov, @Alexsandruss

Delete .github/workflows directory
  .github/workflows /dependabot-validation.yml
Owners: @napetrov, @Alexsandruss

Create dependabot-validate.yml
  .github/workflows/dependabot-validate.yml
Owners: @napetrov, @Alexsandruss

Add dependabot.yml manifest (#1242)
  .github/dependabot.yml
  .github/workflows/dependabot-validate.yml
Owners: @napetrov, @Alexsandruss

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
