Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

include sklearn fallback for singular matrices
  .ci/scripts/select_sklearn_tests.py
  sklearnex/preview/linear_model/linear.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

remove errant CI tests
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

switch to check_array
  .ci/scripts/select_sklearn_tests.py
  onedal/cluster/kmeans.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

remove errant CI tests
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

added warning
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black reformatting
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

implement sklearn_after_onedal
  sklearnex/_utils.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

isort fix
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update sklearnex/preview/linear_model/linear.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

[testing, bug] fix table conversion issue with preview kmeans.fit when X is not contiguous (#1529)
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

[testing, bug] include sklearn fallback for normal non-invertible matrices in preview linearRegression (#1528)
  sklearnex/_utils.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

[testing] Fixing Extra Trees and Random Forest preview test_common.py issues (#1507)
  onedal/primitives/get_tree.py
  sklearnex/preview/ensemble/_forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix preview references in spmd/examples
  examples/sklearnex/random_forest_classifier_dpctl.py
  examples/sklearnex/random_forest_regressor_dpnp.py
  sklearnex/spmd/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

move deselected_tests from preview to main
  deselected_tests.yaml
Owners: none

Updating numpy dep for 3.12
  dependencies-dev
Owners: none
