Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

feat: provide pre-commit-config
  .pre-commit-config.yaml
Owners: none

fix: reset setup.py to origin/master to resolve conflicts
  setup.py
Owners: @Alexsandruss

test: small change to trigger GHA
  setup.py
Owners: @Alexsandruss

FIX: changing RF regressor default train method (#1370)
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

feat: add black & isort GHA for changed files (#1356)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Owners: @napetrov, @Alexsandruss

parallelism implemented
  onedal/primitives/__init__.py
  onedal/primitives/get_tree.py
  onedal/primitives/tree_visitor.cpp
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix typo
  tests/test_xgboost_mb.py
Owners: @Alexsandruss, @samir-nasibli

changes necessary for onedal versioning
  onedal/primitives/__init__.py
  onedal/primitives/get_tree.py
  onedal/primitives/tree_visitor.cpp
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

review requested changes
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

review requsted change expand
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

beautiful white spaces
  onedal/primitives/__init__.py
  onedal/primitives/get_tree.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

the snap
  onedal/ensemble/forest.py
  onedal/primitives/__init__.py
  scripts/build_backend.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

isorted
  onedal/ensemble/forest.py
  onedal/primitives/__init__.py
  scripts/build_backend.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

black is beautiful
  onedal/primitives/get_tree.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

chore: deprecate azure PEP8 in favor of black/isort GHA
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

reduced text
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

forgotten version check
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

doc: Update CONTRIBUTING with code style changes
  CONTRIBUTING.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Apply suggestions from code review
  CONTRIBUTING.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

doc: Update CONTRIBUTING with code style changes (#1373)
  CONTRIBUTING.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

chore: deprecate azure PEP8 in favor of black/isort GHA (#1372)
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Formatting
  tests/test_xgboost_mb.py
Owners: @Alexsandruss, @samir-nasibli

ENH: dpnp interop in sklearnex
  .ci/pipeline/build-and-test-lnx.yml
  sklearnex/_device_offload.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: make dpnp as a testing dependency
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

fix isort check
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

add examples for using dpnp ndarrays
  examples/sklearnex/knn_bf_classification_dpnp_batch.py
  examples/sklearnex/random_forest_classifier_dpctl_batch.py
  examples/sklearnex/random_forest_regressor_dpnp_batch.py
  sklearnex/_device_offload.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove flake8 from docs jobs
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss

Remove flake8 from docs jobs (#1376)
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss

fix sklearnex examples runner condition
  tests/test_examples_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli

formating tests/test_examples_sklearnex.py
  tests/test_examples_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli

minor fix in condition
  tests/test_examples_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli

fix runner for sklearnex examples
  tests/run_examples.py
Owners: none

ENH: dpnp interop for sklearnex (#1374)
  .ci/pipeline/build-and-test-lnx.yml
  examples/sklearnex/knn_bf_classification_dpnp_batch.py
  examples/sklearnex/random_forest_classifier_dpctl_batch.py
  examples/sklearnex/random_forest_regressor_dpnp_batch.py
  sklearnex/_device_offload.py
  tests/run_examples.py
  tests/test_examples_sklearnex.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Add test for xgboost modelbuiler (#1359)
  tests/test_xgboost_mb.py
Owners: @Alexsandruss, @samir-nasibli

move spmd_utils.py to utils dir
  examples/daal4py/__init__.py
  examples/daal4py/covariance_spmd.py
  examples/daal4py/log_reg_model_builder.py
  examples/daal4py/low_order_moms_spmd.py
  examples/sklearnex/n_jobs.py
  examples/sklearnex/patch_sklearn.py
  examples/sklearnex/verbose_mode.py
  examples/utils/spmd_utils.py
  tests/run_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli, @KulikovNikita

more isort
  examples/daal4py/covariance_spmd.py
  examples/daal4py/decision_forest_classification_traverse.py
  examples/daal4py/log_reg_dense.py
  examples/daal4py/low_order_moms_spmd.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

TEST: added different dataframes testing in sklearnex tests
  onedal/tests/utils/_dataframes_support.py
  sklearnex/model_selection/tests/test_model_selection.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/preview/decomposition/tests/test_preview_pca.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixes
  examples/daal4py/covariance_spmd.py
  examples/daal4py/low_order_moms_spmd.py
  examples/daal4py/spmd_utils.py
  examples/sklearnex/knn_bf_classification_dpnp.py
  examples/sklearnex/random_forest_classifier_dpctl.py
  examples/sklearnex/random_forest_regressor_dpnp.py
  tests/run_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli, @KulikovNikita

black
  tests/run_examples.py
Owners: none

minor fix
  onedal/tests/utils/_dataframes_support.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita
