Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Fix for deselection script (#1418)
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

update sklearnex dbscan test suit
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

enabled onedal dbscan tests
  onedal/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

renamed sklearnex dbscan test suits
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

Add random_state to seed for onedal preview RF/ET (#1317)
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/ensemble/tests/test_preview_ensemble.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated test suit with the comment
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

updated test suit with the comment
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

Replace DAALROOT with DALROOT
  conda-recipe/bld.bat
  conda-recipe/build.sh
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
  gen.py
  generator/gen_daal4py.py
Owners: @Alexsandruss

ET/RF fixes for estimators caching
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix imports for SPMD iface
  examples/sklearnex/dbscan_spmd.py
  sklearnex/spmd/cluster/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated params processing
  deselected_tests.yaml
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated examples runner
  tests/run_examples.py
Owners: none

updated params processing
  deselected_tests.yaml
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix monotonicity check
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

ET/RF fixes for estimators caching
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix RF parameter check
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

added import in onedal spmd dbscan
  onedal/spmd/cluster/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update exception text in onedal/cluster/tests/test_dbscan.py
  onedal/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

Update exception text in onedal/cluster/tests/test_dbscan.py
  onedal/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

ENH: DBSCAN integration via oneapi iface (#1400)
  deselected_tests.yaml
  onedal/cluster/__init__.py
  onedal/cluster/dbscan.cpp
  onedal/cluster/dbscan.py
  onedal/cluster/tests/test_dbscan.py
  onedal/dal.cpp
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/tests/test_dbscan.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_monkeypatch.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Performance improvement for preview ensemble algorithms (RF and ET) (#1333)
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
  onedal/primitives/tree_visitor.cpp
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

SVC tuning prototype
  requirements-test-optional.txt
  sklearnex/base.py
  sklearnex/svm/_common.py
  sklearnex/svm/svc.py
  sklearnex/tests/test_tuning.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

ENH: `DBSCAN` SPMD iface (#1417)
  examples/sklearnex/dbscan_spmd.py
  onedal/spmd/cluster/dbscan.py
  sklearnex/cluster/dbscan.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/spmd/cluster/dbscan.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

MAINT: refactor DBSCAN onedal support funcs
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

codestyle for generator/gen_daal4py.py
  generator/gen_daal4py.py
Owners: @Alexsandruss

ENH: enabled SKLEARNEX_VERBOSE for sklearnex dbscan
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Replace DAALROOT with DALROOT (#1420)
  conda-recipe/bld.bat
  conda-recipe/build.sh
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
  gen.py
  generator/gen_daal4py.py
Owners: @Alexsandruss

updated checks logic
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

MAINT: refactor DBSCAN onedal support funcs (#1421)
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Rewrite _onedal_gpu_supported method for SVC (#1362)
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

rename spmd_utils.py
  examples/daal4py/covariance_spmd.py
  examples/daal4py/low_order_moms_spmd.py
  examples/daal4py/spmd_chunks_read.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

recovering renovate config
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

experiment with different config validator
  .github/workflows/renovate-validation.yml
Owners: @napetrov, @Alexsandruss

experiment with different config validator
  .github/workflows/renovate-validation.yml
Owners: @napetrov, @Alexsandruss

fixing config
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

sycl_context deprecation workaround
  daal4py/sklearn/_device_offload.py
  src/oneapi/oneapi.pyx
  src/oneapi/oneapi_backend.cpp
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli

fix exception logic, sklearn compatibility
  daal4py/sklearn/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli

ENH: sklearnex verbose mode messenger
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/cluster/dbscan.py
  sklearnex/neighbors/common.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor fix for lof
  sklearnex/neighbors/lof.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

updated usage of pathcing chain for PCA, Linear Reggression
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
