Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

Model builders API update (#1320)
  daal4py/__init__.py
  daal4py/mb/__init__.py
  daal4py/mb/model_builders.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  doc/daal4py/examples.rst
  doc/daal4py/model-builders.rst
  examples/daal4py/model_builders_catboost.py
  examples/daal4py/model_builders_lightgbm.py
  examples/daal4py/model_builders_xgboost.py
  setup.py
  src/gbt_convertors.pyx
  tests/run_examples.py
  tests/test_examples.py
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @napetrov, @alexandraepan

MAINT: fixing mb examples names
  doc/daal4py/model-builders.rst
  examples/daal4py/model_builders_catboost_batch.py
  examples/daal4py/model_builders_lightgbm_batch.py
  examples/daal4py/model_builders_xgboost_batch.py
  tests/run_examples.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss, @samir-nasibli

update examples names in test/test_examples.py
  tests/test_examples.py
Owners: @Alexsandruss, @samir-nasibli

minor fix for ndarray check
  onedal/basic_statistics/basic_statistics.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

ci: added dpnp to test env
  .ci/pipeline/build-and-test-lnx.yml
Owners: @napetrov, @Alexsandruss

MAINT: removed undisposible, unnecessary onedal module helpers (#1354)
  onedal/basic_statistics/basic_statistics.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/validation.py
  onedal/linear_model/linear_model.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

refactor to remove numpy array deepcopy
  onedal/primitives/tree_visitor.cpp
  scripts/build_backend.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

merge correction
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

feat: add black GHA for changed files
  .github/workflows/black.yml
Owners: @napetrov, @Alexsandruss

test: small change to trigger GHA
  setup.py
Owners: @Alexsandruss

black format / test pre-commit hook
  setup.py
Owners: @Alexsandruss

feat: provide pre-commit-config
  .pre-commit-config.yaml
Owners: none

kd_tree kNN metrics fix
  daal4py/sklearn/neighbors/_base.py
Owners: @Alexsandruss, @samir-nasibli

Temporary: add main branch of sklearn to testing
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

feat: add isort to lint workflow
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Owners: @napetrov, @Alexsandruss

fix: reset setup.py to origin/master to resolve conflicts
  setup.py
Owners: @Alexsandruss

isort setup.py / test pre-commit hooks
  pyproject.toml
  setup.py
Owners: @Alexsandruss

add list of skiped files
  examples/daal4py/decision_forest_classification_traverse.py
  examples/daal4py/decision_forest_regression_traverse.py
  examples/daal4py/decision_tree_classification_traverse.py
  examples/daal4py/gradient_boosted_classification_traverse.py
  examples/daal4py/gradient_boosted_regression_traverse.py
  tests/run_examples.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

MAINT: refactor device offloading (#1353)
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

reverting debug print
  tests/run_examples.py
Owners: none

pep8
  tests/run_examples.py
Owners: none

Revert "Temporary: add main branch of sklearn to testing"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

kd_tree kNN metrics fix (#1363)
  daal4py/sklearn/neighbors/_base.py
Owners: @Alexsandruss, @samir-nasibli

Add test and remove example for xgboost early stop
  examples/daal4py/model_builders_xgboost_early_stop_batch.py
  tests/test_xgboost_mb.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Change xgboost modelbuilder interface
  tests/test_xgboost_mb.py
Owners: @Alexsandruss, @samir-nasibli

Change objective in test
  tests/test_xgboost_mb.py
Owners: @Alexsandruss, @samir-nasibli

infra: Deselecting GPU tests for green sklearn/sklearnex testing (#1365)
  .circleci/run_xpu_tests.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss

MAINT: restructe onedal utils
  onedal/basic_statistics/basic_statistics.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/decomposition/pca.py
  onedal/ensemble/forest.py
  onedal/linear_model/linear_model.py
  onedal/neighbors/neighbors.py
  onedal/primitives/kernel_functions.py
  onedal/svm/svm.py
  onedal/utils/__init__.py
  onedal/utils/validation.py
  setup.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/_common.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fixes for test_examples.py
  tests/test_examples.py
  tests/unittest_data/adagrad_mse.csv
  tests/unittest_data/association_rules.csv
  tests/unittest_data/cholesky.csv
  tests/unittest_data/correlation_distance.csv
  tests/unittest_data/cosine_distance.csv
  tests/unittest_data/dbscan.csv
  tests/unittest_data/decision_forest_classification.csv
  tests/unittest_data/decision_forest_regression.csv
  tests/unittest_data/decision_forest_regression_20230101.csv
  tests/unittest_data/decision_tree_classification.csv
  tests/unittest_data/decision_tree_regression.csv
  tests/unittest_data/gradient_boosted_regression.csv
  tests/unittest_data/implicit_als.csv
  tests/unittest_data/kmeans.csv
  tests/unittest_data/lbfgs_cr_entr_loss.csv
  tests/unittest_data/lbfgs_mse.csv
  tests/unittest_data/linear_regression.csv
  tests/unittest_data/log_reg_binary_dense.csv
  tests/unittest_data/low_order_moms_dense.csv
  tests/unittest_data/multivariate_outlier.csv
  tests/unittest_data/naive_bayes.csv
  tests/unittest_data/pca.csv
  tests/unittest_data/pca_transform.csv
  tests/unittest_data/ridge_regression.csv
  tests/unittest_data/sgd_logistic_loss.csv
  tests/unittest_data/sgd_mse.csv
  tests/unittest_data/svm.csv
  tests/unittest_data/svm_multiclass.csv
  tests/unittest_data/univariate_outlier.csv
Owners: @Alexsandruss, @samir-nasibli

fix for low_order_moms_dense
  tests/spmd_test_examples.py
Owners: none

Move xgboost import inside the test to avoid failures
  tests/test_xgboost_mb.py
Owners: @Alexsandruss, @samir-nasibli

MAINT: restructe onedal utils (#1369)
  onedal/basic_statistics/basic_statistics.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/decomposition/pca.py
  onedal/ensemble/forest.py
  onedal/linear_model/linear_model.py
  onedal/neighbors/neighbors.py
  onedal/primitives/kernel_functions.py
  onedal/svm/svm.py
  onedal/utils/__init__.py
  onedal/utils/validation.py
  setup.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/_common.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

FIX: changing RF regressor default train method
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

add copyright info
  .pre-commit-config.yaml
Owners: none

add copyright info
  .pre-commit-config.yaml
Owners: none

use set -x in run commands
  .github/workflows/lint.yml
Owners: @napetrov, @Alexsandruss

isort setup.py / test pre-commit hooks
  pyproject.toml
  setup.py
Owners: @Alexsandruss

feat: add isort to lint workflow
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Owners: @napetrov, @Alexsandruss

feat: add black GHA for changed files
  .github/workflows/black.yml
Owners: @napetrov, @Alexsandruss

black format / test pre-commit hook
  setup.py
Owners: @Alexsandruss
