Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @vmeshche, @Pahandrovich, @outoftardis, @vlad-nazarov

fixes for pep8
  onedal/datatypes/__init__.py
  onedal/datatypes/validation.py
  onedal/neighbors/neighbors.py
  sklearnex/dispatcher.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

fix codefactor
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: none

Restore context
  .circleci/run_xpu_tests.py
Owners: @Pahandrovich, @vmeshche

New examples (#812)
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/kmeans.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
  examples/notebooks/ridge_regression.ipynb
Owners: @Pahandrovich, @vlad-nazarov

Update requirements-doc.txt
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @napetrov, @vmeshche

Update nightly.yml
  .ci/pipeline/nightly.yml
Owners: @napetrov, @vmeshche

Update requirements-doc.txt
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update requirements-doc.txt
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update requirements-doc.txt
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Add wait to memcpy (#855)
  onedal/datatypes/data_conversion.cpp
Owners: none

Fixing doc requerements - remove dummy package (#846)
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
  requirements-doc.txt
Owners: @napetrov, @vmeshche, @Pahandrovich

Update dependency jupyter-core to v4.9.1
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update dependency packaging to v21.2
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update dependency traitlets to v5
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update dependency soupsieve to v2.3
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update dependency prompt-toolkit to v3.0.22
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update dependency jsonschema to v4.2.1
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update installation.rst
  doc/sources/installation.rst
Owners: @outoftardis

Update dependency pyparsing to v3
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update installation.rst (#859)
  doc/sources/installation.rst
Owners: @outoftardis

Update dependency nbclient to v0.5.5
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

Update dependency importlib-metadata to v4.8.2
  requirements-doc.txt
Owners: @Pahandrovich, @vmeshche

fix logistic regression
  examples/notebooks/logistictic_regression_cifar.ipynb
Owners: @Pahandrovich, @vlad-nazarov

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @vmeshche
.github/                      @napetrov @vmeshche
.circleci/                    @Pahandrovich @vmeshche

# Docs
*.md                          @outoftardis
doc/                          @outoftardis

# DPC++
**/oneapi/                    @vlad-nazarov

# Examples 
examples/                     @Pahandrovich @vlad-nazarov

# Dependencies
setup.py                      @Pahandrovich @vmeshche
requirements*                 @Pahandrovich @vmeshche
conda-recipe/                 @Pahandrovich @vmeshche

# Testing
**/test*.py                   @Pahandrovich

# Scikit-learn patching
daal4py/sklearn/              @Pahandrovich @vlad-nazarov

# Core
src/                          @Pahandrovich @vlad-nazarov @vmeshche
generator/                    @Pahandrovich @vlad-nazarov @vmeshche
