Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Code formatting
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Rewrite _onedal_gpu_supported method for SVC
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update fit func
  onedal/cluster/dbscan.py
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor fix
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

currently checking dbscan for main namespace
  sklearnex/tests/test_monkeypatch.py
Owners: @Alexsandruss, @samir-nasibli

ENH: adding dispatching for daal4py CPU on sklearnex side
  sklearnex/preview/cluster/k_means.py
  sklearnex/preview/ensemble/extra_trees.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

temp partial solution
  sklearnex/_device_offload.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update init logic
  sklearnex/_device_offload.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

[DOC] Add the link to oneAPI samples browser
  doc/sources/samples.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

feat: use black[jupyter] for linting
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Lint rebased docs
  doc/daal4py/conf.py
  doc/sources/conf.py
Owners: @maria-Petrova, @napetrov, @alexandraepan

Docs updates
  doc/sources/_static/style.css
  doc/sources/_templates/footer.html
  doc/sources/samples.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update sklearnex/preview/ensemble/forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix cmake wrapper call in setup.py
  setup.py
Owners: @Alexsandruss

Monotonicity constraints update (#1402)
  daal4py/sklearn/ensemble/_forest.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Install sklearn main branch with pip
  .ci/scripts/setup_sklearn.sh
Owners: @napetrov, @Alexsandruss

Remove Python 3.7 from CI matrix
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Enable sklearn tests for preview sklearnex
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
Owners: @napetrov, @Alexsandruss

minor refactoring 1/2
  onedal/cluster/dbscan.cpp
  onedal/cluster/dbscan.py
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Docs updates (#1413)
  doc/sources/_static/style.css
  doc/sources/_templates/footer.html
  doc/sources/samples.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

update _parameter_constraints
  sklearnex/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update github pages
  404.html
  _sources/samples.rst.txt
  _static/style.css
  acceleration.html
  algorithms.html
  blogs.html
  contribute.html
  deprecation.html
  distributed-mode.html
  genindex.html
  global-patching.html
  guide/acceleration.html
  index.html
  installation.html
  kaggle.html
  kaggle/automl.html
  kaggle/classification.html
  kaggle/regression.html
  license.html
  memory-requirements.html
  oneapi-gpu.html
  quick-start.html
  releases.html
  samples.html
  search.html
  searchindex.js
  support.html
  system-requirements.html
  verbose.html
  what-is-patching.html
Owners: none

Fix cmake wrapper call in setup.py (#1414)
  setup.py
Owners: @Alexsandruss

Update github pages (#1415)
  404.html
  _sources/samples.rst.txt
  _static/style.css
  acceleration.html
  algorithms.html
  blogs.html
  contribute.html
  deprecation.html
  distributed-mode.html
  genindex.html
  global-patching.html
  guide/acceleration.html
  index.html
  installation.html
  kaggle.html
  kaggle/automl.html
  kaggle/classification.html
  kaggle/regression.html
  license.html
  memory-requirements.html
  oneapi-gpu.html
  quick-start.html
  releases.html
  samples.html
  search.html
  searchindex.js
  support.html
  system-requirements.html
  verbose.html
  what-is-patching.html
Owners: none

Add input check for KMeans
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Deselect tests for preview KMeans
  deselected_tests.yaml
Owners: none

added tests for onedal4py DBSCAN and updated sklearnex own test
  onedal/cluster/tests/test_dbscan.py
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

minor refactoring
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Enable preview deselection of tests
  .ci/scripts/run_sklearn_tests.sh
  .circleci/deselect_tests.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss

Correct deselection
  deselected_tests.yaml
Owners: none

Additional deselection for Mac
  deselected_tests.yaml
Owners: none

Reverted minor refactoring and added tests for onedal4py DBSCAN and updated sklearnex own test
  onedal/cluster/tests/test_dbscan.py
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Revert "Reverted minor refactoring and added tests for onedal4py DBSCAN and updated sklearnex own test"
  onedal/cluster/tests/test_dbscan.py
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

removed global variable from DBSCAN test module
  onedal/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

temp added tests code into comment section
  onedal/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

temp moved dbscan sklearnex tests suit into comment section
  sklearnex/cluster/tests/test_dbscan.py
Owners: @Alexsandruss, @samir-nasibli

ENH: DBSCAN SPMD iface
  examples/sklearnex/dbscan_spmd.py
  onedal/spmd/cluster/__init__.py
  onedal/spmd/cluster/dbscan.py
  sklearnex/cluster/dbscan.py
  sklearnex/spmd/cluster/dbscan.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Sklearn CI update (#1406)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/ci.yml
  .ci/scripts/run_sklearn_tests.sh
  .ci/scripts/setup_sklearn.sh
  .circleci/deselect_tests.py
  deselected_tests.yaml
  sklearnex/preview/cluster/k_means.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

remove the suffix from sycl example
  examples/daal4py/sycl/bf_knn_classification.py
  examples/daal4py/sycl/covariance.py
  examples/daal4py/sycl/dbscan.py
  examples/daal4py/sycl/decision_forest_classification.py
  examples/daal4py/sycl/decision_forest_classification_hist.py
  examples/daal4py/sycl/decision_forest_regression.py
  examples/daal4py/sycl/decision_forest_regression_hist.py
  examples/daal4py/sycl/gradient_boosted_regression.py
  examples/daal4py/sycl/kmeans.py
  examples/daal4py/sycl/linear_regression.py
  examples/daal4py/sycl/log_reg_binary_dense.py
  examples/daal4py/sycl/log_reg_dense.py
  examples/daal4py/sycl/low_order_moms_dense.py
  examples/daal4py/sycl/pca.py
  examples/daal4py/sycl/pca_transform.py
  examples/daal4py/sycl/svm.py
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli

Fix for deselection script
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
