Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Pahandrovich, @maria-Petrova, @vlad-nazarov

update esimators_ for cl
  sklearnex/ensemble/forest.py
Owners: none

PEP8 fixes
  examples/daal4py/decision_forest_classification_default_dense_batch.py
  examples/daal4py/decision_forest_classification_hist_batch.py
  examples/daal4py/decision_tree_classification_batch.py
  examples/daal4py/distributions_bernoulli_batch.py
  examples/daal4py/distributions_normal_batch.py
  examples/daal4py/distributions_uniform_batch.py
  examples/daal4py/implicit_als_batch.py
  examples/daal4py/low_order_moms_dense_batch.py
  examples/daal4py/low_order_moms_spmd.py
  examples/daal4py/naive_bayes_batch.py
  examples/daal4py/naive_bayes_spmd.py
  examples/daal4py/naive_bayes_streaming.py
  examples/daal4py/svm_batch.py
  examples/daal4py/sycl/low_order_moms_dense_batch.py
  examples/daal4py/sycl/sklearn_sycl.py
  gen.py
  generator/format.py
  generator/parse.py
Owners: @Pahandrovich, @vlad-nazarov

enabled using onedal rf regression
  onedal/ensemble/forest.py
  sklearnex/ensemble/forest.py
Owners: none

PEP8 fixes (#1031)
  examples/daal4py/decision_forest_classification_default_dense_batch.py
  examples/daal4py/decision_forest_classification_hist_batch.py
  examples/daal4py/decision_tree_classification_batch.py
  examples/daal4py/distributions_bernoulli_batch.py
  examples/daal4py/distributions_normal_batch.py
  examples/daal4py/distributions_uniform_batch.py
  examples/daal4py/implicit_als_batch.py
  examples/daal4py/low_order_moms_dense_batch.py
  examples/daal4py/low_order_moms_spmd.py
  examples/daal4py/naive_bayes_batch.py
  examples/daal4py/naive_bayes_spmd.py
  examples/daal4py/naive_bayes_streaming.py
  examples/daal4py/svm_batch.py
  examples/daal4py/sycl/low_order_moms_dense_batch.py
  examples/daal4py/sycl/sklearn_sycl.py
  gen.py
  generator/format.py
  generator/parse.py
Owners: @Pahandrovich, @vlad-nazarov

Update algorithm wrappers to latest sklearn changes
  daal4py/sklearn/cluster/_dbscan.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/neighbors/_base.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
  daal4py/sklearn/utils/validation.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: @Pahandrovich, @vlad-nazarov

PEP8 and lasso fixes
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
Owners: @Pahandrovich, @vlad-nazarov

Fix pca versioning
  daal4py/sklearn/decomposition/_pca.py
Owners: @Pahandrovich, @vlad-nazarov

Update KMeans versioning
  daal4py/sklearn/cluster/_k_means_0_23.py
Owners: @Pahandrovich, @vlad-nazarov

Optional binarization for y_score
  daal4py/sklearn/metrics/_ranking.py
Owners: @Pahandrovich, @vlad-nazarov

Added shape attr check in validation (#1014)
  onedal/datatypes/validation.py
Owners: none

Fix binary AUC calculation for boolean labels (#1030)
  daal4py/sklearn/metrics/_ranking.py
Owners: @Pahandrovich, @vlad-nazarov

Rewrite kmeans.fit versions branching
  daal4py/sklearn/cluster/_k_means_0_23.py
Owners: @Pahandrovich, @vlad-nazarov

Fix TSNE perplexity to pass parameter check (perplexity < n_samples)
  sklearnex/manifold/tests/test_tsne.py
Owners: @Pahandrovich

Future warnings fix
  daal4py/sklearn/metrics/_ranking.py
  onedal/datatypes/validation.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_run_to_run_stability_tests.py
Owners: @Pahandrovich, @vlad-nazarov

Restore auto kmeans algorithm for compatibility with sklearn<1.1
  sklearnex/tests/test_run_to_run_stability_tests.py
Owners: @Pahandrovich

Update algorithm wrappers to latest Scikit-learn changes (#1032)
  daal4py/sklearn/cluster/_dbscan.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/neighbors/_base.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
  daal4py/sklearn/utils/validation.py
  onedal/datatypes/validation.py
  sklearnex/manifold/tests/test_tsne.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_memory_usage.py
Owners: @Pahandrovich, @vlad-nazarov

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov
.github/                      @napetrov
.circleci/                    @Pahandrovich

# Docs
*.md                          @maria-Petrova
doc/                          @maria-Petrova

# DPC++
**/oneapi/                    @vlad-nazarov

# Examples 
examples/                     @Pahandrovich @vlad-nazarov
examples/notebooks/           @maria-Petrova

# Dependencies
setup.py                      @Pahandrovich
requirements*                 @Pahandrovich
requirements-doc.txt          @maria-Petrova
conda-recipe/                 @Pahandrovich

# Testing
**/test*.py                   @Pahandrovich

# Scikit-learn patching
daal4py/sklearn/              @Pahandrovich @vlad-nazarov

# Core
src/                          @Pahandrovich @vlad-nazarov
generator/                    @Pahandrovich @vlad-nazarov
