Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Minor
  onedal/__init__.py
  onedal/cluster/tests/test_kmeans.py
  onedal/cluster/tests/test_kmeans_init.py
  setup.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/cluster/kmeans_common.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/__init__.py
  onedal/dal.cpp
  onedal/datatypes/numpy_helpers.cpp
  onedal/datatypes/numpy_helpers.hpp
  onedal/datatypes/table.cpp
  onedal/kmeans/__init__.py
  onedal/kmeans/kmeans.cpp
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/kmeans_init.py
  setup.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/__init__.py
  scripts/CMakeLists.txt
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  .circleci/run_xpu_tests.py
  onedal/kmeans/kmeans.py
  onedal/kmeans_init/kmeans_init.cpp
  onedal/kmeans_init/kmeans_init.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Spaces in lists
  onedal/kmeans/__init__.py
  onedal/kmeans_init/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

EOL
  onedal/datatypes/metadata.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  .circleci/run_xpu_tests.py
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/kmeans_init.py
  onedal/kmeans_init/tests/test_kmeans_init.py
  sklearnex/preview/cluster/k_means.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/kmeans_init/tests/test_kmeans_init.py
Owners: @Alexsandruss, @samir-nasibli

Minor
  examples/sklearnex/kmeans_spmd.py
  onedal/__init__.py
  onedal/basic_statistics/basic_statistics.py
  onedal/kmeans/__init__.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/__init__.py
  onedal/kmeans_init/tests/test_kmeans_init.py
  sklearnex/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Before PEP8
  deselected_tests.yaml
  onedal/kmeans/kmeans.py
  onedal/kmeans_init/kmeans_init.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/spmd/cluster/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

Minor
  onedal/cluster/__init__.py
  onedal/cluster/kmeans.cpp
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.cpp
  onedal/cluster/kmeans_init.py
  onedal/cluster/tests/test_kmeans.py
  onedal/cluster/tests/test_kmeans_init.py
  onedal/kmeans_init/__init__.py
  onedal/spmd/cluster/kmeans.py
  setup.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/dal.cpp
  onedal/datatypes/metadata.cpp
  onedal/datatypes/table.cpp
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/kmeans_init.py
  onedal/kmeans_init/tests/test_kmeans_init.py
  sklearnex/cluster/_common.py
  sklearnex/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  tests/run_examples.py
Owners: none

Minor
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/cluster/tests/test_kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/basic_statistics/basic_statistics.py
  onedal/datatypes/metadata.cpp
  onedal/datatypes/table.cpp
  onedal/kmeans/kmeans.py
  onedal/kmeans_init/tests/test_kmeans_init.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Without \'_is_same_clustering\'
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Deselection restored
  deselected_tests.yaml
Owners: none

Minor
  scripts/CMakeLists.txt
  setup.py
Owners: @Alexsandruss

Local tests work
  onedal/common/pybind11_helpers.hpp
  onedal/datatypes/table.cpp
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/kmeans_init.cpp
  onedal/kmeans_init/kmeans_init.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  .circleci/run_xpu_tests.py
Owners: @napetrov, @Alexsandruss

Minor
  .circleci/run_xpu_tests.py
  examples/sklearnex/kmeans_spmd.py
  onedal/__init__.py
  onedal/kmeans/kmeans.cpp
  onedal/kmeans/kmeans.py
  onedal/spmd/__init__.py
  onedal/spmd/cluster/__init__.py
  onedal/spmd/cluster/kmeans.py
  setup.py
  setup_sklearnex.py
  sklearnex/cluster/k_means.py
  sklearnex/dispatcher.py
  sklearnex/preview/cluster/__init__.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/preview/cluster/tests/test_preview_kmeans.py
  sklearnex/spmd/__init__.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/spmd/cluster/kmeans.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/cluster/tests/test_kmeans.py
  onedal/cluster/tests/test_kmeans_init.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/preview/cluster/tests/test_preview_kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/common/_policy.py
  onedal/dal.cpp
  onedal/kmeans_init/__init__.py
  onedal/kmeans_init/kmeans_init.cpp
  onedal/kmeans_init/kmeans_init.py
  onedal/kmeans_init/tests/test_linear_regression.py
  onedal/tests/utils/_device_selection.py
  setup.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Partial PEP8
  onedal/__init__.py
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/kmeans_init.py
  onedal/kmeans_init/tests/test_kmeans_init.py
  onedal/spmd/__init__.py
  onedal/spmd/cluster/kmeans.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/spmd/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_common.cpp
  onedal/dal.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Moving
  onedal/cluster/kmeans.py
  onedal/datatypes/__init__.py
  onedal/datatypes/validation.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor
  onedal/__init__.py
  onedal/datatypes/numpy_helpers.cpp
  onedal/kmeans/kmeans.py
  onedal/kmeans/tests/test_kmeans.py
  onedal/kmeans_init/__init__.py
  onedal/kmeans_init/kmeans_init.py
  onedal/kmeans_init/tests/test_kmeans_init.py
  sklearnex/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Changes according to @Alexsandruss
  onedal/cluster/kmeans_common.cpp
  onedal/cluster/tests/test_kmeans_init.py
  onedal/datatypes/numpy_helpers.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/table_metadata.cpp
  onedal/spmd/cluster/kmeans.py
  scripts/CMakeLists.txt
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix dispatched method name
  sklearnex/preview/cluster/k_means.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix
  examples/sklearnex/logistic_regression.py
  sklearnex/preview/logistic_regression/logistic_regression.py
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove parameter constraints
  sklearnex/preview/logistic_regression/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Align `p` kNN parameter behavior with sklearn (#1334)
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

KMeans & KMeans++ integration (#1326)
  examples/sklearnex/kmeans_spmd.py
  onedal/__init__.py
  onedal/basic_statistics/basic_statistics.py
  onedal/cluster/__init__.py
  onedal/cluster/kmeans.cpp
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_common.cpp
  onedal/cluster/kmeans_init.cpp
  onedal/cluster/kmeans_init.py
  onedal/cluster/tests/test_kmeans.py
  onedal/cluster/tests/test_kmeans_init.py
  onedal/common/pybind11_helpers.hpp
  onedal/dal.cpp
  onedal/datatypes/__init__.py
  onedal/datatypes/numpy_helpers.cpp
  onedal/datatypes/numpy_helpers.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/table_metadata.cpp
  onedal/datatypes/validation.py
  onedal/spmd/__init__.py
  onedal/spmd/cluster/__init__.py
  onedal/spmd/cluster/kmeans.py
  scripts/CMakeLists.txt
  setup.py
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/preview/cluster/__init__.py
  sklearnex/preview/cluster/_common.py
  sklearnex/preview/cluster/k_means.py
  sklearnex/spmd/__init__.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/spmd/cluster/kmeans.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Adding documentation for QR and Covariance streaming algs
  doc/daal4py/streaming.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
