Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

PEP8 changes cont. 2
  onedal/ensemble/__init__.py
  sklearnex/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 changes cont. 3
  sklearnex/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

readd verbosity
  .ci/scripts/run_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

whitespace
  onedal/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

first round recommended changes
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 change
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

requested/necessary changes
  .ci/scripts/run_sklearn_tests.sh
  sklearnex/ensemble/forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Necessary change for unlisted dependency
  daal4py/INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

introduce tests
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

PEP8 compliance
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

introduce check for sklearn fallback
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

introduce check for sklearn fallback
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

wording changes
  sklearnex/ensemble/tests/test_forest.py
Owners: @Alexsandruss, @samir-nasibli

BaseETForest -> BaseTree
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 compliance, again.
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix method name in svm dispatching
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix for scan warning in kNN dispatching (#1299)
  sklearnex/neighbors/common.py
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

random_state, splitter_mode api changes
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

patching_status addition
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 Correction
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

using correct macro for versioning
  src/gbt_model_builder.h
Owners: @Alexsandruss

Fix code format, update ftype conversion
  onedal/objective_function/objective_function.py
  sklearnex/dispatcher.py
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

FIX: avoid extra converts
  onedal/decomposition/pca.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

patch_conditions fillout
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

change needed for consistency
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

unnecessary space
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

badly formed if statements PEP8
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

estimators check
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 conformity
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 conformity part 2
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 test
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 test2
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 conformity part 3
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

debug begin
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

testing logic
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

correct error in oob logic check
  .ci/scripts/run_sklearn_tests.sh
  deselected_tests.yaml
  onedal/ensemble/forest.py
  sklearnex/ensemble/forest.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 changes
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 changes pt2
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

test
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

last PEP8 change
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
