Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Update blogs.rst
  doc/sources/blogs.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

[doc] Minor doc fixes (#1344)
  doc/sources/blogs.rst
  doc/sources/conf.py
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
  doc/sources/releases.rst
  doc/sources/what-is-patching.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Revert "Experiment: change lightgbm version"
  requirements-test-optional.txt
Owners: @napetrov, @Alexsandruss

Revert "Experiment: add DYLD_LIBRARY_PATH setting"
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Revert "Move to openmp from conda env on macOS"
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Revert "Update cpp flags for sklearn installation on macOS"
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Set SKLEARN_SKIP_OPENMP_TEST in macOS nightly
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Set SKLEARN_SKIP_OPENMP_TEST in macOS CI
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Revert "Set SKLEARN_SKIP_OPENMP_TEST in macOS CI"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Revert "Temporary add main sklearn branch to ci matrix"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

MacOS OpenMP and input validation fixes (#1338)
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/_split.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss, @samir-nasibli

gbt_build_model for simpler using
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
  examples/daal4py/gbt_cls_model_create_from_catboost_batch.py
  examples/daal4py/gbt_cls_model_create_from_lightgbm_batch.py
  examples/daal4py/gbt_cls_model_create_from_xgboost_batch.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova

Deselect 'kulsinski' distance knn tests
  deselected_tests.yaml
Owners: none

Add input validation for pairwise distance
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @samir-nasibli

Move to previous joblib version on Win Python 3.7
  requirements-test.txt
Owners: @napetrov, @Alexsandruss

Add public functions to selected sklearn tests
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

Fix predict_proba in SVM
  sklearnex/svm/nusvc.py
  sklearnex/svm/svc.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Conditional testing for public functions
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

Alignment with sklearn updates (#1346)
  .ci/scripts/select_sklearn_tests.py
  daal4py/sklearn/metrics/_pairwise.py
  deselected_tests.yaml
  requirements-test.txt
  sklearnex/svm/nusvc.py
  sklearnex/svm/svc.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Update for function input validation
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/_split.py
Owners: @Alexsandruss, @samir-nasibli

Add sklearn 1.3 version to CI matrix
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Update for function input validation (#1347)
  .ci/pipeline/ci.yml
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/_split.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli

Update CI and Nightly matrix for sklearn testing
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Add seed to forest.py
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove random_state warning from extra_trees.py
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove rs gen for reg in preview forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove rs_ from reg in extra_trees.py
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add set_seed to desc in forest.cpp
  onedal/ensemble/forest.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 conformance
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

disable set_seed for ONEDAL_VERSION < 20230300
  onedal/ensemble/forest.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 correction and compilability
  .ci/scripts/select_sklearn_tests.py
  sklearnex/preview/ensemble/extra_trees.py
Owners: @napetrov, @Alexsandruss, @samir-nasibli, @KulikovNikita

Update forest.py
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Reintroduce random_state warning
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Parentheses correction
  sklearnex/preview/ensemble/extra_trees.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove carryover
  .ci/scripts/select_sklearn_tests.py
Owners: @napetrov, @Alexsandruss

DEP: removing old dpctl interop
  src/dpctl_interop/daal_context_service.cpp
  src/dpctl_interop/daal_context_service.h
  src/dpctl_interop/dpctl_interop.pyx
Owners: @Alexsandruss

Run all sklearn tests in CI
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Revert "Run all sklearn tests in CI"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Update CI and Nightly matrix for sklearn testing (#1348)
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

incremental update; add sklearn examples
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
  examples/daal4py/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_lightgbm_batch.py
  examples/sklearnex/gbt_cls_model_create_from_xgboost_batch.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
