Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

fiix examples
  examples/sklearnex/basic_statistics_spmd.py
  onedal/_device_offload.py
  onedal/basic_statistics/basic_statistics.py
  onedal/decomposition/pca.py
  onedal/linear_model/linear_model.py
  onedal/neighbors/neighbors.py
  onedal/spmd/basic_statistics/basic_statistics.py
  onedal/spmd/decomposition/pca.py
  onedal/spmd/linear_model/linear_model.py
  onedal/spmd/neighbors/neighbors.py
  setup.py
  setup_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

minor update
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update test_random_forest.py
  onedal/ensemble/tests/test_random_forest.py
Owners: @Alexsandruss, @samir-nasibli

FP64 fix (#1225)
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix: remove classses_ attribute from kNN regression (#1224)
  sklearnex/neighbors/knn_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

SPMD random forest (#1214)
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  onedal/ensemble/forest.cpp
  onedal/spmd/ensemble/__init__.py
  onedal/spmd/ensemble/forest.py
  setup.py
  setup_sklearnex.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/spmd/__init__.py
  sklearnex/spmd/ensemble/__init__.py
  sklearnex/spmd/ensemble/forest.py
  tests/run_examples.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

test(df): allow up to 50% disagreement on log loss
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
Owners: @Alexsandruss, @samir-nasibli

chore: update unit test reference values
  tests/unittest_data/decision_forest_regression_batch.csv
Owners: none

Add updated df_regr numbers for 2023.1.1
  tests/test_examples.py
  tests/unittest_data/decision_forest_regression_batch.csv
  tests/unittest_data/decision_forest_regression_batch_20230101.csv
Owners: @Alexsandruss, @samir-nasibli

Disable CircleCI (#1222)
  .circleci/config.yml
  .circleci/setup_env.sh
Owners: @napetrov, @Alexsandruss

minor examples update
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  onedal/_device_offload.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update setup_sklearnex.py
  setup_sklearnex.py
Owners: none

update tests to support both 2023.0.1 and later versions
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  tests/test_examples.py
Owners: @Alexsandruss, @samir-nasibli

support `usm_ndarray` in `onedal.spmd` (#1216)
  examples/sklearnex/basic_statistics_spmd.py
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  examples/sklearnex/pca_spmd.py
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  onedal/_device_offload.py
  onedal/spmd/basic_statistics/basic_statistics.py
  onedal/spmd/decomposition/pca.py
  onedal/spmd/linear_model/linear_model.py
  onedal/spmd/neighbors/neighbors.py
  setup_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

chore: update tests after feature selection change (#1213)
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  tests/test_examples.py
  tests/unittest_data/decision_forest_regression_batch_20230101.csv
Owners: @Alexsandruss, @samir-nasibli

fixed bug
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

removed unrelated test cases
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/preview/ensemble/tests/test_random_preview_forest.py
Owners: @Alexsandruss, @samir-nasibli

ENH:using CCL backend
  onedal/common/_spmd_policy.py
  onedal/common/spmd_policy.cpp
  scripts/CMakeLists.txt
  scripts/build_backend.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix warnings for splitter mode support
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove unused pytest import
  sklearnex/preview/ensemble/tests/test_random_preview_forest.py
Owners: @Alexsandruss, @samir-nasibli

Move dpcpp installation to separate script
  .ci/pipeline/ci.yml
  .ci/scripts/install_dpcpp.sh
Owners: @napetrov, @Alexsandruss

Update os and python versions in nightly
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Modify continueOnError condition
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Remove fixed deselected tests
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Owners: @Alexsandruss

Move global patch test to common test script
  .ci/pipeline/ci.yml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

Remove .circleci/config.yml from Azure pipeline trigger conf
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Fix setup_sklearn.sh
  .ci/scripts/setup_sklearn.sh
Owners: @napetrov, @Alexsandruss

Revert "Remove .circleci/config.yml from Azure pipeline trigger conf"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Delete extra sklearnex build step
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Fix KDTree metrics getting
  daal4py/sklearn/neighbors/_base.py
Owners: @Alexsandruss, @samir-nasibli

Experiment: try to trigger nightly in PR
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Merge global patch testing to common sklearnex testing
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Fix typo in test_global_patch.py
  .ci/scripts/test_global_patch.py
Owners: @Alexsandruss, @samir-nasibli

Modify continueOnError condition num.2
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Modify continueOnError condition num.3
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Fix sklearn setup script
  .ci/scripts/setup_sklearn.sh
Owners: @napetrov, @Alexsandruss

Revert "Experiment: try to trigger nightly in PR"
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Add sklearn main branch run in CI
  .ci/pipeline/ci.yml
  .ci/scripts/get_compatible_scipy_version.py
  .ci/scripts/setup_sklearn.sh
Owners: @napetrov, @Alexsandruss

Revert "Revert "Remove .circleci/config.yml from Azure pipeline trigger conf""
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Add splitter_mode to RandomForest _parameter_constraints
  sklearnex/preview/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
