Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

group doc packages
  .github/renovate.json
Owners: @napetrov, @Alexsandruss

add config validation
  .github/workflows/renovate-validation.yml
Owners: @napetrov, @Alexsandruss

Group doc updates in renovate (#1255)
  .github/renovate.json
  .github/workflows/renovate-validation.yml
Owners: @napetrov, @Alexsandruss

[Issue: #327] Enable parallel build on C++ extensions and update docs
  INSTALL.md
  doc/sources/system-requirements.rst
  setup.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

Update system-requirements.rst
  doc/sources/system-requirements.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update INSTALL.md
  INSTALL.md
Owners: @maria-Petrova, @napetrov, @alexandraepan

Add binding (fails with ImportError)
  onedal/__init__.py
  onedal/dal.cpp
  onedal/objective_function/__init__.py
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_logloss.py
  setup.py
  setup_sklearnex.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

support missing values in lgbm
  src/gbt_convertors.pyx
Owners: @Alexsandruss

fixing lgbm modelbuilder for missing values and catboost support
  src/gbt_convertors.pyx
Owners: @Alexsandruss

Add objective function interface
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_logloss.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update SET_NPY_FEATURE
  onedal/datatypes/numpy_helpers.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  onedal/objective_function/__init__.py
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add note for offloading behavior
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Correction
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Add note for offloading behavior (#1275)
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss

Update requirements-doc.txt (#1279)
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss

minor docs revisions, no updates to cpu/gpu section
  doc/sources/guide/acceleration.rst
  doc/sources/kaggle/automl.rst
  doc/sources/kaggle/classification.rst
  doc/sources/what-is-patching.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

minor docs revisions, no updates to cpu/gpu section (#1280)
  doc/sources/guide/acceleration.rst
  doc/sources/kaggle/automl.rst
  doc/sources/kaggle/classification.rst
  doc/sources/what-is-patching.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Allign to LinearModelLoss interface, add tests
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor interface update
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add sklearnex interface
  sklearnex/objective_function/__init__.py
  sklearnex/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add gradient_hessian_product functions, regularization computation and finalize tests
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  sklearnex/objective_function/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove objective_function folder from sklearnex
  setup_sklearnex.py
  sklearnex/objective_function/__init__.py
  sklearnex/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  onedal/objective_function/__init__.py
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  onedal/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  onedal/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

trying pybind version revert
  requirements-dev.txt
Owners: @napetrov, @Alexsandruss

Revert pybind version to 2.10.1 (#1289)
  requirements-dev.txt
Owners: @napetrov, @Alexsandruss
