Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

Fix
  sklearnex/dispatcher.py
  sklearnex/preview/__init__.py
  sklearnex/preview/objective_function/tests/test_preview_logloss.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Remove redundant imports, add condition to example
  examples/sklearnex/logistic_regression.py
  sklearnex/preview/logistic_regression/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

fix
  sklearnex/preview/objective_function/tests/test_preview_logloss.py
Owners: @Alexsandruss, @samir-nasibli

Apply suggestions from code review
  doc/daal4py/streaming.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Fix year
  examples/sklearnex/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add topic with deprecations
  doc/sources/deprecation.rst
  doc/sources/index.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Adding documentation for QR and Covariance streaming algs (#1339)
  doc/daal4py/streaming.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Add topic with deprecations (#1340)
  doc/sources/deprecation.rst
  doc/sources/index.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Simplify an example
  examples/sklearnex/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update doc/sources/releases.rst
  doc/sources/releases.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update acceleration.rst
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update quick-start.rst
  doc/sources/quick-start.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Fix PR-1323-4: 1. Remove gsg 2. Add scikit_learn_bench repo as tips
  doc/sources/acceleration.rst
  doc/sources/gsg.rst
  doc/sources/index.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Force sklearn main build to use gcc
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Add `compilers` conda pkg on macos
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Revert "Temporary disable all sklearn testing except macos main"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Extend CI and Nightly timeout to 2h
  .ci/pipeline/ci.yml
  .ci/pipeline/nightly.yml
Owners: @napetrov, @Alexsandruss

Install libomp
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Temporary add main sklearn branch to ci matrix
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Remove libomp installation
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Temporary disable all sklearn testing except macos main
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Temporary disable all sklearn testing except macos main
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Specify CC and CXX for sklearn building
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Revert "Temporary disable all sklearn testing except macos main"
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss

Update validation of function input
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/_split.py
Owners: @Alexsandruss, @samir-nasibli

Revert "Add `compilers` conda pkg on macos"
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Update cpp flags for sklearn installation on macOS
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Correct KMeans FutureWarning
  daal4py/sklearn/cluster/_k_means_0_23.py
Owners: @Alexsandruss, @samir-nasibli

Deselect KMeans FutureWarning for 1.4.dev0 sklearn version
  deselected_tests.yaml
Owners: none

adressing alias mapping gaps
  daal4py/sklearn/monkeypatch/dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Move to openmp from conda env on macOS
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

Update sklearnex/dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update doc/sources/quick-start.rst
  doc/sources/quick-start.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Delete gsg.rst
  doc/sources/gsg.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

align doc format across AI components (#1323)
  doc/sources/acceleration.rst
  doc/sources/conf.py
  doc/sources/guide/acceleration.rst
  doc/sources/index.rst
  doc/sources/license.rst
  doc/sources/releases.rst
  doc/sources/samples.rst
  doc/sources/what-is-patching.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Experiment: add DYLD_LIBRARY_PATH setting
  .ci/pipeline/build-and-test-mac.yml
Owners: @napetrov, @Alexsandruss

addressing alias mapping gaps (#1343)
  daal4py/sklearn/monkeypatch/dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Doc fixes
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
  doc/sources/releases.rst
  doc/sources/what-is-patching.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Experiment: change lightgbm version
  requirements-test-optional.txt
Owners: @napetrov, @Alexsandruss

Update conf.py
  doc/sources/conf.py
Owners: @maria-Petrova, @napetrov, @alexandraepan

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
