Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @icfaust, @maria-Petrova, @emmwalsh, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @samir-nasibli @icfaust
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser

# Docs
*.md                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
doc/                          @maria-Petrova @napetrov @emmwalsh @Alexsandruss @samir-nasibli @icfaust
requirements-doc.txt          @emmwalsh @Alexsandruss

# DPC++
onedal/                       @Alexsandruss @samir-nasibli @icfaust
sklearnex/                    @Alexsandruss @samir-nasibli @icfaust

# Examples
examples/                     @maria-Petrova @Alexsandruss @samir-nasibli @napetrov

# Dependencies
setup.py                      @napetrov @Alexsandruss @samir-nasibli @icfaust
requirements*                 @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
dependencies-dev              @napetrov @Alexsandruss @samir-nasibli @homksei @ahuber21 @ethanglaser
conda-recipe/                 @napetrov @Alexsandruss

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel

# Forests
*ensemble*                    @ahuber21 @icfaust

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli @icfaust

# Distributed
*spmd*                        @samir-nasibli @ethanglaser

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli @icfaust

# Core
src/                          @Alexsandruss @samir-nasibli @icfaust
generator/                    @Alexsandruss @samir-nasibli @icfaust

Update sklearnex/tests/test_common.py
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Change numpy testing matrix
  .ci/pipeline/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

update
  doc/sources/array_api.rst
  doc/sources/index.rst
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

Update .coveragerc
  .coveragerc
Owners: none

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss

[enhancement] ban trailing underscore attributes to follow sklearn convention at class definition-level (#2101)
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

Update logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

linter
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

[fix] fix ```test_estimators[LogisticRegression()-check_estimators_unfitted]``` conformance for gpu support (#2109)
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

expand forest classes with hyperparams
  onedal/common/hyperparameters.py
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust, @ahuber21

fix build errors
  onedal/common/dispatch_utils.hpp
  onedal/common/hyperparameters.py
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust, @ahuber21

version check for hyperparameters backend
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fixup
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

black format
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fixup
  pyproject.toml
Owners: none

fixup
  pyproject.toml
Owners: none

fixup
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

add version check for hyperparams
  onedal/ensemble/forest.py
Owners: @ahuber21, @icfaust

Fix ONEDAL_VERSION in comment
  onedal/common/dispatch_utils.hpp
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fix version checks
  daal4py/sklearn/_utils.py
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust, @ahuber21

simplify obtaining hparams
  onedal/ensemble/forest.py
Owners: @ahuber21, @icfaust

add some version checks
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

fix argument name
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

Add daal_require_version_wrapper
  daal4py/sklearn/_utils.py
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust, @ahuber21

Add version comment to endif
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

add block_size_multiplier hyperparam
  onedal/ensemble/forest.cpp
Owners: @ahuber21, @icfaust

add hyperparameter tests
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
Owners: @ahuber21, @icfaust, @Alexsandruss, @samir-nasibli

Update test_common.py
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

formatting
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

review comments
  onedal/common/hyperparameters.py
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust, @ahuber21

DOC: Add info about incremental algorithms and BS (#2103)
  doc/sources/algorithms.rst
  doc/sources/conf.py
  doc/sources/index.rst
  doc/sources/non-scikit-algorithms.rst
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

change to fstrings
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fixup for registe_hyperparameters
  onedal/ensemble/forest.py
Owners: @ahuber21, @icfaust

switch to dict
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

DOC: Add info about incremental algorithms and BS (#2103)
  doc/sources/algorithms.rst
  doc/sources/conf.py
  doc/sources/index.rst
  doc/sources/non-scikit-algorithms.rst
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
Owners: @maria-Petrova, @napetrov, @emmwalsh, @Alexsandruss, @samir-nasibli, @icfaust

simplify get_hyperparamters() definition
  onedal/common/hyperparameters.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust

fix all but SVM algos
  sklearnex/decomposition/pca.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust, @ahuber21

add SVM fixes
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: @Alexsandruss, @samir-nasibli, @icfaust
