Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss

pep8
  examples/sklearnex/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_lightgbm_batch.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

linting
  src/gbt_model_builder.pyx
Owners: @Alexsandruss

initial
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss

make API sklearn-like
  daal4py/sklearn/ensemble/GBTDAAL.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

fixing compatability with the old API
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
  examples/daal4py/gbt_cls_model_create_from_catboost_batch.py
  examples/daal4py/gbt_cls_model_create_from_lightgbm_batch.py
  examples/daal4py/gbt_cls_model_create_from_xgboost_batch.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova

pep8
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

bug fixes
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli

fixes for classification cases
  daal4py/sklearn/ensemble/GBTDAAL.py
Owners: @Alexsandruss, @samir-nasibli

gbt_build_model for simpler using
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
  examples/daal4py/gbt_cls_model_create_from_catboost_batch.py
  examples/daal4py/gbt_cls_model_create_from_lightgbm_batch.py
  examples/daal4py/gbt_cls_model_create_from_xgboost_batch.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova

pep8
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli

pep8
  examples/sklearnex/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_lightgbm_batch.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

incremental update; add sklearn examples
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
  examples/daal4py/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_lightgbm_batch.py
  examples/sklearnex/gbt_cls_model_create_from_xgboost_batch.py
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @KulikovNikita

examples rename
  doc/daal4py/examples.rst
  doc/daal4py/model-builders.rst
  examples/daal4py/model_builders_catboost.py
  examples/daal4py/model_builders_lightgbm.py
  examples/daal4py/model_builders_xgboost.py
  examples/sklearnex/model_builders_catboost.py
  examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_xgboost.py
  tests/run_examples.py
  tests/test_examples.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss, @samir-nasibli, @KulikovNikita

remove duplicated files
  examples/sklearnex/gbt_cls_model_create_from_catboost_batch.py
  examples/sklearnex/gbt_cls_model_create_from_lightgbm_batch.py
  examples/sklearnex/gbt_cls_model_create_from_xgboost_batch.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update examples/sklearnex/model_builders_xgboost.py
  examples/sklearnex/model_builders_xgboost.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_lightgbm.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update examples/sklearnex/model_builders_catboost.py
  examples/sklearnex/model_builders_catboost.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

skip back csr_tables tests for model_builders
  tests/test_examples.py
Owners: @Alexsandruss, @samir-nasibli

movement of numpy away from tree_state
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

forgotten template
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

dense -> hist regressor algo
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

this-> overall
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove forced sample_weight use
  onedal/ensemble/forest.cpp
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

change sample_weight checks
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 compliance
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update onedal/primitives/tree_visitor.cpp
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

codefactor-io compliance
  onedal/primitives/tree_visitor.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 compliance
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

remove example for catboost with sklearn interface
  examples/sklearnex/model_builders_catboost.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix inference for xgboost fitted with early-stopping
  src/gbt_convertors.pyx
Owners: @Alexsandruss

Unified with stock sklearn
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Minor changes in checks
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

update __init__ files for sklearn
  daal4py/__init__.py
Owners: none

no fallback, deselect tsne seg fault
  .circleci/run_xpu_tests.py
  deselected_tests.yaml
Owners: @napetrov, @Alexsandruss

temp deselect failures from no fallback
  deselected_tests.yaml
Owners: none

test estimators deselections to avoid CI timeout
  deselected_tests.yaml
Owners: none

DEP: removing old dpctl interop (#1349)
  src/dpctl_interop/daal_context_service.cpp
  src/dpctl_interop/daal_context_service.h
  src/dpctl_interop/dpctl_interop.pyx
Owners: @Alexsandruss

move non-sklearn model builders to mb namespace
  daal4py/__init__.py
  daal4py/mb/ModelBuilders.py
  daal4py/mb/__init__.py
  examples/daal4py/model_builders_catboost.py
  examples/daal4py/model_builders_lightgbm.py
  examples/daal4py/model_builders_xgboost.py
  examples/sklearnex/model_builders_lightgbm.py
  examples/sklearnex/model_builders_xgboost.py
  src/gbt_model_builder.pyx
Owners: @maria-Petrova, @Alexsandruss, @samir-nasibli, @KulikovNikita
