Repository intel/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @maria-Petrova, @alexandraepan, @samir-nasibli, @KulikovNikita

rename variable and add oneDAL version control
  daal4py/sklearn/_utils.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

Adjust requirements-dev.txt filename
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/docs.yml
  .ci/pipeline/nightly.yml
  .github/workflows/dependabot-validate.yml
  dependencies-dev
Owners: @napetrov, @Alexsandruss

Change requirements-dev.txt filename (#1290)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/docs.yml
  .ci/pipeline/nightly.yml
  .github/workflows/dependabot-validate.yml
  dependencies-dev
Owners: @napetrov, @Alexsandruss

Update method name in dispatching
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Force 'p' assignment for oneDAL dispatching branch
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update deselected tests with aliased test names
  deselected_tests.yaml
Owners: none

Fix n_samples check in linear
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fixes for knn metric
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Modify 'p' assignment
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update verbose mode in kNN
  daal4py/sklearn/_utils.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update verbose mode - draft
  daal4py/sklearn/_utils.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/manifold/_t_sne.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/neighbors/lof.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update docs
  doc/sources/verbose.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update ONEDAL version
  onedal/dal.cpp
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/tests/test_objective_function.py
  setup.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix sparse input check for linear
  sklearnex/preview/linear_model/linear.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add comments
  onedal/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

[Issue: #327] Enable parallel build on C++ extensions and docs update (#1265)
  INSTALL.md
  doc/sources/system-requirements.rst
  setup.py
Owners: @maria-Petrova, @napetrov, @alexandraepan, @Alexsandruss

Update verbose mode example
  examples/sklearnex/verbose_mode.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update system requirements
  INSTALL.md
  doc/sources/system-requirements.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update doc/sources/verbose.rst
  doc/sources/verbose.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Verbose mode update (#1288)
  daal4py/sklearn/_utils.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/manifold/_t_sne.py
  deselected_tests.yaml
  doc/sources/verbose.rst
  examples/sklearnex/verbose_mode.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/lof.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Owners: @Alexsandruss, @samir-nasibli, @maria-Petrova, @napetrov, @alexandraepan, @KulikovNikita

Update system requirements (#1293)
  INSTALL.md
  doc/sources/system-requirements.rst
Owners: @maria-Petrova, @napetrov, @alexandraepan

Update version
  onedal/__init__.py
  onedal/dal.cpp
  onedal/objective_function/tests/test_objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update comments, fix naming
  onedal/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

disabling dependabot updates
  .github/dependabot.yml
Owners: @napetrov, @Alexsandruss

disabling dependabot updates (#1298)
  .github/dependabot.yml
Owners: @napetrov, @Alexsandruss

Fix ifdef condition, update tests
  onedal/dal.cpp
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  setup.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Fix for scan warning in kNN dispatching
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Add sklearn version check
  onedal/objective_function/tests/test_objective_function.py
  setup.py
Owners: @Alexsandruss, @samir-nasibli

compatibility with older versions of oneDAL
  daal4py/sklearn/_utils.py
  src/gbt_model_builder.h
  src/gbt_model_builder.pyx
Owners: @Alexsandruss, @samir-nasibli

Update deselected_tests.yaml
  deselected_tests.yaml
Owners: none

Integrate logloss primitive to LogisticRegression
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/objective_function/__init__.py
  sklearnex/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Move objective_function to preview section
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/preview/__init__.py
  sklearnex/preview/objective_function/__init__.py
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update forest.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Code format
  sklearnex/preview/objective_function/objective_function.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update deselected_tests.yaml
  deselected_tests.yaml
Owners: none

switch to hist
  onedal/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Update forest.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

Change oneDAL version check
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 changes
  onedal/ensemble/__init__.py
  sklearnex/dispatcher.py
  sklearnex/ensemble/forest.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

PEP8 changes cont.
  sklearnex/ensemble/__init__.py
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita

.github/CODEOWNERS:

# Infra and tools
.ci/                          @napetrov @Alexsandruss
.github/                      @napetrov @Alexsandruss
.circleci/                    @napetrov @Alexsandruss

# Docs
*.md                          @maria-Petrova @napetrov @alexandraepan
doc/                          @maria-Petrova @napetrov @alexandraepan

# DPC++
**/oneapi/                    @Alexsandruss @samir-nasibli @KulikovNikita
onedal/                       @Alexsandruss @samir-nasibli @KulikovNikita
sklearnex/                    @Alexsandruss @samir-nasibli @KulikovNikita

# Examples 
examples/daal4py/             @maria-Petrova @Alexsandruss @samir-nasibli
examples/notebooks/           @maria-Petrova @Alexsandruss @napetrov

# Dependencies
setup.py                      @Alexsandruss
requirements*                 @napetrov @Alexsandruss 
conda-recipe/                 @Alexsandruss

# Testing
**/test*.py                   @Alexsandruss @samir-nasibli

# Scikit-learn patching
daal4py/sklearn/              @Alexsandruss @samir-nasibli

# Core
src/                          @Alexsandruss
generator/                    @Alexsandruss
